[2013-12-20 15:52] teburd opened #1 "AudioFire4 No Sound Controls"
The Latest master I tried with kernel 3.12.5 on archlinux and am missing mixer controls

Some maybe useful output....

[code]

[2013-12-20 15:57] teburd opened #2 "Readme Slightly Wrong"
The readme install sections gives

[code]

but then uses snd-firewire/3.11 for dkms install.

These need to match

[2013-12-28 13:48] #2 closed, assigned to takaswie

[2014-01-19 14:01] enkidu opened #3 "build failure on 3.12"
dkms install snd-firewire/3.11

Kernel preparation unnecessary for this kernel.  Skipping...

Building module:
cleaning build area....
make KERNELRELEASE=3.12-1-amd64 all....
Error!  Build of snd-firewire-lib.ko failed for: 3.12-1-amd64 (x86_64)
Consult the make.log in the build directory
/var/lib/dkms/snd-firewire/3.11/build/ for more information.

cat make.log
DKMS make.log for snd-firewire-3.11

[2014-07-30 22:07] allkhor opened #5 "audiophile not work property"
Thank you for great work!
I have ubuntu 13.10 x64 (3.11.0-26-generic) and M-audio firewire audiophile.
But i can't get work correctly this device :(
It work (listen sound) only if i boot in Windows 7 x64 with lates m-audio drivers, power-on and without power-off boot in Ubuntu.
I think problem is audiophile don't find firmware or something wrongs other (when i power turn-on after blinking front pa

[2014-07-30 23:59] #5 closed, assigned to takaswie

[2014-10-06 15:15] muranyia opened #6 "skmd install failure"
Hello,

i get the following error:

[code]

[code]

[code]

[2014-10-06 15:17] #6 closed, assigned to takaswie

[2014-10-06 15:52] muranyia opened #7 "No playback with Terratec Phase 88"
[code]

[code]

[code]

[code]

[code]

[2014-10-07 12:37] #7 closed, assigned to takaswie

[2014-10-07 12:44] muranyia opened #8 "Sample rate problem with Terratec Phase 88"
I have set the sample rate to 48000 with ffado-mixer and tried to play a 44100 sound file, and got an error. Now no matter if I set the sample rate back to 44100 I get the same error.

[code]

[code]

[2014-10-14 14:23] muranyia opened #9 "Integration with PulseAudio"
I am opening this thread not to mess up another one with my questions.

So far I have learned that Unity will not boot up unless I disable Pulseaudio as described here:
https://wiki.ubuntu.com/PulseAudio/Log

I have noticed now, that starting Pulseaudio afterwards actually works and the firewire card is listed, although by a weird name:
![screenshot from 2014-10-14 16 18 20](https://cloud.githubus

[2014-10-19 18:02] nostar opened #10 "build fails on Fedora 20 x86_64"
$ uname -r
3.16.6-200.fc20.x86_64

Build fails as shown below, build succeeds and snd-fireworks loads and runs fine with my audiofire AF2 and AF12 after commenting out snd_card_new() as shown here:

http://pastebin.com/8UZw6Df9

make -C /lib/modules/3.16.6-200.fc20.x86_64/build M=/home/nostar/src/snd-firewire-improve modules
make[1]: Entering directory `/usr/src/kernels/3.16.6-200.fc20.x86_64'
  C

[2014-10-20 01:00] #10 closed, assigned to takaswie

[2014-10-20 01:04] #9 closed, assigned to takaswie

[2014-10-20 01:05] #3 closed, assigned to takaswie

[2014-10-20 01:05] #1 closed, assigned to takaswie

[2015-01-28 20:00] quietpinguin opened #11 "Error using DKMS on Manjaro linux to backport snd-firewire-improve"
Hi Takashi

Can you help? I would like to try out the snd_dice driver with a Focusrite Saffire PRO 24.

Here is the make log...

DKMS make.log for alsa-firewire-3.11 for kernel 3.18.3-1-MANJARO (x86_64)
Mi 28. Jan 20:48:54 CET 2015
make -C /lib/modules/3.18.3-1-MANJARO/build M=/var/lib/dkms/alsa-firewire/3.11/build modules
make[1]: Entering directory '/usr/lib/modules/3.18.3-1-MANJARO/build'
  CC

[2015-01-29 00:11] takaswie commented on #11
Remove '#ifndef SNDRV_PCM_FORMAT_DSD_U32_LE' and corresponding '#endif' in backport.h, then your compiler will find the symbol 'snd_pcm_stop_xrun()':
https://github.com/takaswie/snd-firewire-improve/blob/master/backport.h

[2015-01-29 01:42] takaswie commented on #11
I can regenerate this issue in Ubuntu 15.04 userland.

# make -C /usr/src/linux-headers-3.18.0-11-generic/ M=`pwd`
make: Entering directory '/usr/src/linux-headers-3.18.0-11-generic'
  LD      /root/snd-firewire-improve/built-in.o
  LD      /root/snd-firewire-improve/sound/firewire/built-in.o
  CC [M]  /root/snd-firewire-improve/sound/firewire/lib.o
  CC [M]  /root/snd-firewire-improve/sound/firew

[2015-01-29 03:13] takaswie commented on #11
Fix released.
https://github.com/takaswie/snd-firewire-improve/commit/c3f07d27ddf5f178054b896ab5c2961ecbe80211

[2015-01-29 11:46] quietpinguin commented on #11
Hi Takashi

Perfect - in every sense of the word!

- The modules built perfectly.
- The Focusrite Saffire PRO 24 is detected on-plug in.
- Using QjackCtl, jackd started and run correctly using alsa as the driver and PRO 24 as the interface.
- All the PRO 24 audio ins and outs could be routed to/from Ardour3.
- Ardour3 records unendlessly without a single XRUN.

This is truly a cool piece of progra

[2015-01-31 07:28] wornwinter opened #12 "Firewire control transactions to ProjectMix I/O timing out."
Hi,

Takashi, I remember talking to you about this before, but just wanted to highlight it again.

It seems that a firewire bus reset is necessary before sending commands to the ProjectMix in order for these commands to not keep timing out.

I realise that it may be worthwhile to include this in FFADO as opposed to your project here, but I thought for simplicity, including it in your driver may be

[2015-01-31 07:52] wornwinter commented on #12
I've created a pull request which solves this issue:

https://github.com/takaswie/snd-firewire-improve/pull/13

[2015-01-31 09:26] takaswie commented on #12
Hi Darren,

The prototype is:
int snd_bebob_maudio_special_discover(struct snd_bebob *bebob, bool is1814);

The value of boolean is used to switch Firewire1814 and ProjectMix I/O, therefore unrelated to generating bus-reset.

Actually, the snd-bebob executes one command before generating bus-reset.
 * FireWire bus driver
 * (the device is recognized.)
 * ->bebob_probe()
 *   ->snd_bebob_maudio_spe

[2015-01-31 09:28] #11 closed

[2015-01-31 11:01] wornwinter commented on #12
Hi Takashi,

Stangely though, this change seems to not break the functionality of the soundcard, and it makes the ffado-mixer controls usable, whereas before they barely worked. I think we'll need to look more into this to find out exactly why.

Have you any ideas of why this fixes the issue?

Regards

[2015-01-31 12:12] takaswie commented on #12
I think so, too. Sorry to trouble you...

Well, please clarify issues which you can see. The usability of ffado-mixer is just one? Are there other issues such as ALSA streaming works bad or you cannot hear sounds from your device? Or others?

Regards

[2015-01-31 14:26] wornwinter commented on #12
The streaming works great. Can't fault it.

The issue is that if I set is1814 to false, the ffado-mixer controls are unusable. It seems that control packets are not sending properly. If I set it to true, ffado-mixer works great.

Regards

[2015-02-01 01:49] takaswie commented on #12
I require some logs from ffado-dbus-server. Please run 'ffado-dbus-server -v 8', then run ffado-mixer and change some control elements. Post the logs to alsa-devel or ffado-devel.

Regards

[2015-02-02 16:12] wornwinter commented on #12
The issue seems to have resolved itself. I'll post the logs if it starts to happen again. I think this should be considered closed for now.

[2015-02-02 16:12] #12 closed

[2015-03-15 09:31] zamaudio opened #14 "DigiMagic"
Hi Takashi,

There are 2 models of the 003Rack:

003R: 4 preamps - digimagic works
003R+: 8 preamps - digimagic does not work (yet)

I actually checked out your code from 4 days ago and played with this branch.
I manually added the digimagic that Robin and I reverse engineered, but unfortunately the code does not seem to work for 003Rack+ model.  We need to reverse engineer new magic bytes for the

[2015-03-15 09:36] zamaudio commented on #14
I originally developed the magic bytes with Robin using the 003R model, but I sold this hardware and now I own the 003R+ model.

[2015-03-15 13:06] zamaudio commented on #14
My first comment is not correct.  We are investigating the status of digimagic on 003R+, but so far it appears there is a bug in your merging of digimagic into the kernel driver.

[2015-03-16 01:55] takaswie commented on #14
Damien,

I use Digi 002 rack for this development and your Digimagic works partially. I suspect that the implement includes some bugs.

[2015-03-16 04:41] zamaudio commented on #14
I have a firewire bus analyser and I have captured the initialisation sequence for 003R+ using ProtoolsLE software.  I have implemented the order of the sequence the same as the proprietary driver but there are dropouts with the streams with my version of the code that I don't understand.

[2015-03-16 04:52] zamaudio commented on #14
Takashi,

I believe that the 003R+ does not like the way you used the combining of streams into one command
0100 = 0x00 | (0x01 << 16).

In protools, the 0100 is written sequentially twice, 0100 = 0(tx record) and then 0100 = 1(rx playback).

Do you know what the difference is for the device?

Please see https://github.com/zamaudio/snd-firewire-improve on branch digi003R+magicborked
for my latest

[2015-03-16 05:05] zamaudio commented on #14
Takashi,

The original digimagic worked 100% correctly because I tested it on my device, and we saw that the bit patterns were coming out exactly as the bus analyser showed us for a test pattern of a triangle wave form.

I believe the problem with your driver currently, is that the initialisation sequence for the rack is incorrect.  You need to address begin_session() because the device needs to b

[2015-03-16 05:17] takaswie commented on #14
Post your patch for alsa-devel.

[2015-03-16 05:22] takaswie commented on #14
With enough explaination which every developers can understand.

[2015-03-16 05:31] takaswie commented on #14
And for firewire drivers, ALSA developers basically add no Control interfaces. The reason is that this functionality can be implemented into userspace application. It's unacceptable to add unrequired codes into Linux kernel code base.

[2015-03-16 07:40] zamaudio commented on #14
Hey Takashi, I used your master branch with this slight patch and digimagic is working 100%

diff --git a/sound/firewire/amdtp.c b/sound/firewire/amdtp.c
index b86bd1c..933b42d 100644
--- a/sound/firewire/amdtp.c
+++ b/sound/firewire/amdtp.c
@@ -300,9 +300,10 @@ void amdtp_stream_set_pcm_format(struct amdtp_stream *s,
 		WARN_ON(1);
 		/* fall through */
 	case SNDRV_PCM_FORMAT_S32:
-		if (s->dire

[2015-03-16 08:08] takaswie commented on #14
I'm sorry but I cannot find any functional changes in your patch... I think there're some misunderstanding or mis-operation in your side.

[2015-03-16 09:31] zamaudio commented on #14
[code]
is very important because otherwise amdtp_stream_set_pcm_format() will override the transfer_samples function pointer with amdtp_write_s32() and digimagic is never called.

[2015-03-16 09:35] zamaudio commented on #14
The order of allocating the streams could be important because the device might be expecting a hardcoded stream number so that the digimagic works on the correct stream (?).  It is always the same in ProTools, tx = 0 and rx = 1.

[2015-03-21 06:10] zamaudio commented on #14
It seems we were both correct, there was a bug in the implementation of digimagic, which has now been corrected in 003amdtp, and now we need to integrate it correctly into the digi00x driver.

[2015-03-21 06:16] zamaudio commented on #14
I am closing this issue because the first few comments I made are irrelevant and incorrect.

[2015-03-21 06:16] #14 closed

[2015-03-21 06:19] zamaudio opened #16 "New digimagic (003amdtp) driver integration"
There was a bug in the implementation of digimagic, which has now been corrected in 003amdtp at http://github.com/x42/003amdtp .
Now we need to integrate it correctly into the digi00x driver. This may involve a slight change in how the digimagic state is stored and allocated.  In particular, the state should *not*  be static (multiple devices) and also should be re-initialized on open/close or str

[2015-03-24 11:50] zamaudio opened #17 "Discovered internal mixer controls - digi00x"
Hi Takashi,
I found the following controls for internal mixer matrix.
It is able to route any single capture channel to 1, 2, or 1+2 (stereo) using the following registers:
[code]

[2015-03-24 11:53] zamaudio commented on #16
I tested commit 3eb7ec3440 with 003R+ and the digimagic is working on all channels. Thanks Takashi!

[2015-03-27 04:26] takaswie commented on #16
I think it better to report it to alsa-devel so that the other ALSA developers acknowledge it. The aim of our work is to merge this driver into upstream. To achieve this aim, we should have enough discussion on the place where the other ALSA developers work.

Regards

[2015-03-27 04:35] takaswie commented on #17
Thanks. But I have never tested these functionality because no idea to implement it in usespace.
By the way, are there some registers to control gain of each analog input or output?

Regards

[2015-03-27 10:11] zamaudio commented on #17
No gain registers that I know of.  Besides there are knobs on the panel for that.

[2015-03-28 11:13] pythonpowerd opened #18 "Dice works partially [Broken]"
Hi Takashi, I am a user of TC Electronic DesktopKonnekt6 and latest kernel update 3.19.2 add partial support for my device and thus broke my usual sound workflow. So i want to make good bug report to make device usable on latest kernels.

With 3.19.2 kernel device is successfully recognized by system and even sometimes can play sound(!). But always, after some time sound is breaks (usually after 3

[2015-03-28 23:32] takaswie commented on #18
This repository is not upstream, just for bleeding-edge. Please report it to alsa-devel. There're some developers who is good at Dice architecture.

http://mailman.alsa-project.org/mailman/listinfo/alsa-devel

Regards

[2015-06-18 05:34] #18 closed

[2015-11-16 11:14] ungentilgarcon opened #19 "trying with audiofire2 on kernel 4.2 (mint)"
hello, I it installed successfully, though I still have this
Failed to load module "module-alsa-card" (argument: "device_id="0" name="firewire-0x0014860fc44a8c55" card_name="alsa_card.firewire-0x0014860fc44a8c55" namereg_fail=false tsched=yes fixed_latency_range=no ignore_dB=no deferred_volume=yes use_ucm=no card_properties="module-udev-detect.discovered=1""): initialization failed.

full dump her

[2015-11-16 11:24] ungentilgarcon commented on #19
here is the result of dkms installation,
https://gist.github.com/ungentilgarcon/1edde333e738024d9b62

[2015-11-16 12:01] ungentilgarcon commented on #19
here is the result of pactl
https://gist.github.com/ungentilgarcon/ffe54945fab09830bb71

no audiofire listed

[2015-11-16 12:52] takaswie commented on #19
Your AudioFire2 has 6 PCM channels for playback and 4 PCM channels for capture. PulseAudio 6.0 or former cannot handle the difference correctly. This bug is already fixed by this patch:
http://cgit.freedesktop.org/pulseaudio/pulseaudio/commit/?id=02dc6d84edde7af86e155b224b6aa98080ef2979

If you want to use AudioFire2 with PulseAudio, please load 'module-alsa-sink' or 'module-alsa-source' by your h

[2016-01-31 07:40] #16 closed

[2016-01-31 07:42] #17 closed

[2016-01-31 07:42] #19 closed

[2016-01-31 07:42] #8 closed

[2017-06-30 00:47] brittyazel opened #20 "Fireface 800 modprobe issue"
Hello,

My lab has a fireface 800 that we use for very timing sensitive audio output. We are using Ubuntu 17.04, Linux 4.10, and I downloaded your repository and followed the steps to install the modules via DKMS. The install is successfull, but when I execute "sudo modprobe snd-fireface" I get an error saying that it cannot find "amdtp_stream_pcm_ack" (I don't know the exact error, as I am not at

[2017-06-30 01:55] takaswie commented on #20
You might see below warnings when executing dkms command line.

By following to the guidance, please add '--force' option to the command line.

[2017-06-30 02:10] brittyazel commented on #20
That isn't the problem. I can execute the dkms comand line fine, and I do see those errors, but the issue is when I actually try to load the snd-fireface module. It throws an unsatisfied reference to "amdtp_stream_pcm_ack" and says check my dmesg for details

[2017-06-30 03:41] takaswie commented on #20
You encounter symbol mismatch between snd-firewire-lib and your fireface. Please follow the above guidance.

[2017-06-30 04:58] brittyazel commented on #20
Yes, it is still not working.

[code]
[code]
`[18220.890017] snd_fireface: Unknown symbol amdtp_stream_pcm_ack (err 0)`

[2017-06-30 05:07] brittyazel commented on #20
nvm rebooting seemed to fix it

[2017-06-30 05:07] #20 closed

[2017-06-30 05:19] ML-TakashiSAKAMOTO commented on #20
You might have missed  to unload relevant modules, before replacing modules by dkms.

[2017-10-12 08:16] aqua36 opened #21 "Problem with M-AUDIO FW410(snd-bebob) on 4.13 kernel"
I'm on Arch Linux and for the module to compile I have to remove the <target/target_core_base.h> and <target/target_core_backed.h> from backport.h because the headers package for arch doesn't include those.
[backport.h.4.9.txt](https://github.com/takaswie/snd-firewire-improve/files/1378533/backport.h.4.9.txt)
On 4.13 I also change the <linux/sched/signal.h> to <linux/signal.h>.
[backport.h.4.13.tx

[2017-10-12 10:03] takaswie commented on #21
Hi,

At first, v4.13 kernel is the latest stable and there are few differences from master of this repository. Therefore, you don't necessarily compile and install sources from this repository. It's an easy way to use in-kernel module for your purpose.

This line means that your device transfer packets with discontinuous index number. ALSA BeBoB driver set XRUN state to runtime of running PCM subs

[2017-10-12 11:22] aqua36 commented on #21
I don't think that my sound card is faulty. Others report the same issue with this model([example](https://en.audiofanzine.com/firewire-interface/m-audio/Firewire-410/forums/t.3038,conectivity-problem-with-m-audio-firewire-410.html)). The same thing also happeded for years when I was using the proprietary drivers on windows, the sound card would stop working and I would have to restart the windows

[2017-10-13 09:18] aqua36 commented on #21
The in-kernel module seems to work.
Thank you!

[2017-10-13 09:18] #21 closed

[2018-07-02 18:14] puzzlled commented on #21
Hi,
I'm running Netrunner rolling, which is basically a Manjaro system with KDE updates as I understand it.
Since Manjaro is a derivative of Arch I thought the FW410 would work but I've tried numerous versions of the Manjaro kernels and none of them do.  The firmware doesn't load and the following error is produced from dmesg.

[25219.826085] firewire_core 0000:03:00.0: rediscovered device fw0
[25

[2018-07-03 07:19] aqua36 commented on #21
I don't know if this is any way relevant to your problem but I sometimes have problems with settings set in windows through the m-audio control panel. Try resetting your device settings in windows, rebooting into linux and then configuring your device through ffado-mixer

[2018-07-03 10:05] alepeccioli commented on #21
I also have the same problem, since the 4.10 kernel my m-audio 410 does not boot with a 64-bit kernel, I can only boot the 386 kernel. I have already tested several distros linux and all with the same problem.

[2018-07-03 11:48] alepeccioli commented on #21
I was wrong, the last version of the kernel that I was able to boot into m-audio 410 in 64 bits was version 4.4. In the later versions only using: https://github.com/cladisch/linux-firewire-utils to boot the card.

[2018-07-03 14:24] puzzlled commented on #21
Thanks for the feedback folks.  I did try the device reset under Windows but it didn't make a difference in Linux.  It's still in the flashing light state and gives the following output.
--------
ffado-test ListDevices
=== 1394 PORT 0 ===
Node id             GUID                  VendorId         ModelId       Vendor - Model
   0       0x000d6c01109dc17a  0x00000D6C  0x00010058   M-AUDIO - FW Boot

[2018-07-04 18:34] puzzlled commented on #21
So after resetting the device to defaults (sample rate 44.1kHz, buffer 256) in Windows things have improved somewhat.  Now if I reboot from Windows the device will work in Linux, even when logging into the desktop.  Sound seems good and I didn't test all the inputs and outputs yet but it seems to function normally.  At least now it's usable with this workaround.  It still won't load the firmware f

[2018-07-04 23:22] puzzlled commented on #21
A further update.  I had a need to be in Windows today so I took the opportunity to set the FW410 to a sample rate of 48kHz and a buffer of 128 samples.  When rebooting into Netrunner it still works so those are valid settings for Plasma.  I also borrowed a power adapter and connected it so that the firmware is maintained in active memory even if the PC is powered off.  This means that as long as

[2018-07-05 02:19] takaswie commented on #21
Sorry to be late to catch your issue due to my release work for new major version of libhinawa.

In upstream kernel, I committed support for M-Audio FireWire 410 at a commit 9076c22ddd9d ('ALSA: bebob: Add support for M-Audio usual Firewire series')[1]. I own some models produced by M-Audio with DM1000 ASIC and BeBoB v1 firmwares and use them as test devices for my continuous work to the latest ke

[2018-07-05 02:57] takaswie commented on #21
Hm. As I said, I've never re-generate this issue in recent kernels, thus no suggestions I have.

IEEE 1394 has a feature called as 'bus reset'. This occurs when new devices are connected to the bus and new units are detected. During bus reset, all of asynchronous transactions are discarded by physical/link layer of IEEE 1394 components. It's responsible for software to retry the transaction. At pr

[2018-09-05 10:52] takaswie opened #22 "bebob: often fail to take bootloader to run runtime firmware"
Reported in #21 and https://forum.manjaro.org/t/firewire-m-audio-410-driver-wont-load-firmware/51165.

With recent Linux kernel, snd-bebob often fail to take bootloader to run runtime firmware.

[code]

The cause is not cleared yet.

[2018-09-05 10:53] takaswie commented on #21
Hi,

I regenerate this issue with Linux kernel v4.16 or later. Please refer to #22 and sorry to bring inconvenience to you.

[2018-09-05 11:05] takaswie commented on #22
I filed this issue in bugzilla.kernel.org as a regression.
https://bugzilla.kernel.org/show_bug.cgi?id=201021

[2018-09-10 13:28] takaswie commented on #22
A fix was applied to sound subtree.
https://git.kernel.org/pub/scm/linux/kernel/git/tiwai/sound.git/commit/?id=493626f2d87a74e6dbea1686499ed6e7e600484e

This is going to be pulled to v4.20 kernel.

[2018-09-10 13:28] #22 closed

[2019-06-09 08:46] zamaudio opened #24 "SYT field being always zero does not mean sync cannot be done"
This statement is not quite correct:
https://github.com/takaswie/snd-firewire-improve/blob/618f4f4e2e6e27585820b2f9f873171b8bd5e758/sound/firewire/digi00x/digi00x-stream.c#L332

There is an implementation of Amdtp streaming specifically for Oxford chips that have SYT field in transmitted packets always = 0x0000 that uses system timestamps of packets instead of the SYT value and adjusts on the fly

[2019-06-09 10:26] takaswie commented on #24
Hi Damien,

The whole comment is:

In a case that SYT field includes no information, we cannot recover sampling clock in a way described in IEC 61883-1/6. You can see simple diagram for this mechanism in clause `4.3 Packetization layer` of [Audio and Music Data Transmission Protocol 2.2 Revision 1.1 (Oct. 2010, 1394 Trading Association, Document 2009013)](http://1394ta.org/wp-content/uploads/2015/

[2019-10-30 07:57] jpargudo opened #25 "snd-bebob : from kernel 4.13 to 5.3.19 and .20"
Hi there,

First, I'm really not sure this is the right place to write an Issue, but I didnt find better on the net, still waiting alsa-devel ML approval... :/

I upgraded my Ubuntu Disco (kernel 4.13) to Ubuntu Eoan (kernel 5.3.19) and I can report my SaffireLE / Firewire doesnt work anymore.

At startup it lights green ok, but no sound is playable, then the lights turn orange (like it is when it

[2019-10-30 09:16] takaswie commented on #25
Hi,

Thanks for your report. I did reply in the list:
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-October/157741.html

[2019-10-30 09:32] jpargudo commented on #25
Hi !

Thanks a lot!

Let's close this issue here then?

[2019-11-26 02:46] takaswie commented on #25
Hi @jpargudo ,

I'd like you to test the latest driver by backporting it into your system, and report your result.
https://mailman.alsa-project.org/pipermail/alsa-devel/2019-November/158294.html

I maintain this repository for this purpose ;)

Thanks

[2020-02-10 01:45] LGCW opened #26 "Digidesign Digi 003R clicks & pops while recording"
Picked up a Digidesign Digi 003R to play around with and for the most part it worked. It can connect at 4800/4100 256 and all of the routing appears to work in Ardour 5.12.

Unfortunately it generates a little pop/click every 5 to 7 seconds in the recording and output. This was using kernel 4.19 and 5.4 with and without snd-firewire-improve from.

I was wondering if there was any helpful output /

[2020-02-10 05:51] takaswie commented on #26
Hi,

Thanks for the report.

I've acknowledged this issue for a long ago. This is a kind of issue dependent of each kind of devices.

IEC 61883-1/6 packet streaming engine in ALSA firewire stack transfers a series of isochronous packets which includes PCM frames exactly as the same as configured sampling rate[1]; e.g. 44100. This implementation relies on a feature called as 'clock recovery' in dev

[2020-02-10 21:59] LGCW commented on #26
Thanks for taking a look at it. That seems like quite a daunting task but I wish you the best of luck. I will keep the 003 in the rack since it makes a good shelf.

I don't know if it's of any value but I did notice the 003 generates an inaudible xrun in Ardour every 2.5 minutes or so. [https://i.imgur.com/outPJR7.jpg](https://i.imgur.com/outPJR7.jpg)

Best of luck,
Venn

[2020-02-11 03:51] takaswie commented on #26
Hi,

Hm. I'd like to get some parameters relevant to intermeditate PCM ring buffer when the XRUN occurs. Would you tell me the size of period and buffer in the PCM ring buffer?

[2020-02-11 20:23] LGCW commented on #26
Sample rate: 48000
Buffer Size: 256
Periods: 3

I think that is the information you requested? If not let me know and I will provide it.

[2020-02-11 23:16] takaswie commented on #26
They're what I expected. Additionally, which version of Linux kernel did you use to see the periodical XRUNs; v4.19 or v5.4 or the both? Which backend did you use for Ardour; jackd or direct ALSA application?

[2020-02-11 23:24] LGCW commented on #26
I observed periodical XRUNs in v4.19 and v5.4. Right now the box is running the stock RT kernel.

OS: Debian 10.3
Kernel: 4.19.0-8-rt-amd64
Ardour: Jackd backend.

[2020-02-13 14:04] takaswie commented on #26
Hi,

Thanks for the report. I tested my digi003 rack and got different result in this environment:

* Ubuntu 19.10 (amd64, 5.3.0-29-generic)
* Backported kernel modules from d56d8e6 (almost the same as you used for v5.4)
* Ardour from Ubuntu official repository (1:5.12.0-3)
* Sample rate: 48000
* Buffer size: 256
* Periods: 3
* jackd with '-r' option (no-realtime)

Theoretically, if the XRUN occur

[2020-02-15 05:50] zamaudio commented on #26
This issue is an instance of #24 (or at least related).

[2020-02-15 12:14] dylofpoke commented on #26
I have just got myself a Digi 002 rack and will be trying it in Ardour (5.12, I think) with Ubuntu Studio (1604, I think) when I get hold of a firewire card and cable, so I'm very interested in getting it working and up for testing and giving anyone any info that will help...

[2020-02-15 20:27] dylofpoke commented on #26
Also, I love that this is still actively being developed, as it will hopefully save a lot of high quality, cheaply available audio interfaces from obsolescence, which is a very noble thing to be doing!

[2020-02-16 00:04] zamaudio commented on #26
@dylofpoke I highly recommend getting a FW800 PCIe controller and using a FW800 -> FW400 cable to connect to a 002/003 it just seems to work better than a FW400 controller.  I use one from TI with a XIO22I3BZAY chip.  Something like this: https://eiratek.com/product/pci-e-to-1394-card-firewire-b-800/

[2020-02-16 00:41] takaswie commented on #26
No. The issue mentioned by this bug brings no XRUNs. It's the most important point that the periodical pop/click comes from the device design that the total number of processed PCM frames per second is not exactly the same as sampling rate. On the other hand, ALSA firewire-digi00x driver transfers the same number of PCM frames as sampling rate (=sampling transfer frequency).

The click/pop noise d

[2020-02-16 00:47] zamaudio commented on #26
@takaswie ok, so it's the device design fault.  Regardless of the cause of the fault, we still want to have the device functioning without clicks and pops.  That means a workaround is needed in the driver, that is what I meant.

[2020-02-16 00:52] takaswie commented on #26
This is natural. The drivers for Windows/MacOS has been developed by vendor itself, which is responsible for the design itself.

Please work for it.

[2020-02-16 00:56] zamaudio commented on #26
Is there anything I can provide that would make it easier for you to do it?  I don't have much time these days for writing kernel code.  I have some idea of how to fix it though.

[2020-02-16 01:10] takaswie commented on #26
Hi @dylofpoke ,

Although the device itself is obsolescence, the FLOSS driver (snd-firewire-digi00x) is under development. This is the reason that no one in FLOSS world is not the original designer of the device.

So, if you use the device, it's better to take enough care of kernel version.

[code]

This statistics is for the number of patches applied to upstream kernel for ALSA firewire stack per

[2020-02-16 01:13] zamaudio commented on #26
@takaswie As I mentioned in #24, as you know, when the SYT value is always zero for this device, you cannot do clock recovery from the packets alone, but you can measure a system timestamp instead when the packet arrives and use that for clock recovery with a delay locked loop.  This is not my idea alone, but works for other Oxford devices that have SYT = 0 in ffado.

[2020-02-16 01:13] takaswie commented on #26
@zamaudio Just an idea can make nothing.

[2020-02-16 01:29] zamaudio commented on #26
@takaswie https://kokkinizita.linuxaudio.org/papers/usingdll.pdf  I have used this algorithm before to implement clock recovery.  It has C code example.

[2020-02-16 02:22] zamaudio commented on #26
See https://github.com/janosvitok/ffado/blob/master/trunk/libffado/src/libstreaming/amdtp-oxford/AmdtpOxfordReceiveStreamProcessor.cpp#L40 for ffado implementation of pseudo-converting non-blocking to blocking transmission.
[code]

[2020-02-17 16:00] takaswie commented on #26
@zamaudio In IEEE 1394, isochronous packet transmission is governed by bus clock at 24.576MHz. Crystal oscillator is implemented on 1394 OHCI controller for the clock signal and it generates 49.152 MHz for divider. The controller also generates hardware IRQ depending on the clock. In this point, the device has enough accuracy for PCM frame processing.

However, in modern operating system, hardware

[2020-02-18 08:12] takaswie commented on #26
@zamaudio For example, Linux kernel has a feature `isolcpus` cmdline option. When CPU IDs are indicated by the option, the CPUs are not used by task scheduler. This means that no user processes are scheduled to the CPU.

Linux kernel exposes `smp_affinity` node in sysfs to allow users to configure assignment of process to any CPU. This is also available for assignment of IRQ handler. When configur

[2020-02-19 03:58] zamaudio commented on #26
As you know, the problem with the device is that the timestamps are missing from the packets, so you cannot do clock recovery from the packet information.  We already agree on this.  Therefore, any jittery timestamp for marking packet arrival is better than no timestamp.  The idea is to use the (number of received frames in cycle / 8000) as a kind of timestamp and update a DLL on top of that to fi

[2020-03-05 11:15] muziker commented on #25
Hi there, i'd like to confirm that once i
1. in qjackctl, select alsa as the driver
2. Select hw:saffireLE as the interface
3. using 5.3.0-18-lowlatency on ubuntu studio

I get:
`
kernel: snd-bebob fw1.0: Detect discontinuity of CIP: 10 E8`
`...`
`kernel: Call Trace`
`...`
`kernel: Code: Bad RIP value
`
I can use
1. in qjackctl, select firewire
But there are frequent dropouts

[2020-03-05 15:50] muziker commented on #25
I've used the current master HEAD, and it seems to be working

[2020-03-05 17:31] muziker commented on #25
Tried other settings frames/period + periods/buffer and it seems to work ok. The performance isn't particularly stellar, and cannot reach <10msec. There's still some xruns, once every 10 - 20 minutes.

[2020-03-06 02:42] muziker commented on #25
Might not be related, but everytime qjackctl freezes, i'll have to delete the /dev/shm of jack shared memory files

[2020-03-06 02:51] muziker commented on #25
From reading all the issues, it really does seem like the discontinuity in packet streaming eventually leads to a large enough discrepancy that jack using alsa firewire stops working.

https://lore.kernel.org/alsa-devel/ad6f8c036538aa755017efe976ac223bb7c90be3.camel@argudo.org/t/

I'm not sure how he does it, but it's definitely not 10msec latency that works

[2020-03-06 07:16] jpargudo commented on #25
Hi there,

Le jeudi 05 mars 2020 à 18:51 -0800, muziker a écrit :

FYI, since that problem I got rid of firewire and the Saffire LE,
waiting for better days :-( ...

I can put it back in the box and continue debugging for you if you
want. Just tell me how I could help there :/

I think also of putting this in a comparable box I have here, and give
you ssh access if you want?...

Just tell me !

Ch

[2020-03-06 08:26] muziker commented on #25
Well, i was hoping you'd have the settings that would solve all the issues. After a lengthy trial by error, i've managed to come to this setting, that so far seems to work, though it still gives a xrun every few minutes or so, they are usually inaudible. Be advised that my machine is one of those macbooks with all the connectors on one side, which means that they might be somehow sharing either a

[2020-04-30 17:31] alesandar opened #27 "Periodic interrupts with MOTU 828mk3"
I am experiencing an issue with my MOTU 828mk3 (JACK2 with ALSA backend).
A periodic xrun occurs every now and then and the interval seems to be dependent on the buffer size.

During all of the following tests, sample rate and nperiods have been set to 192000/3.
For some reason I can not set lower sample rate values. [1]
Only the buffer size has been changed after each test. Please consider the co

[2020-05-15 08:15] takaswie commented on #27
Hi,

Today I use my Thinkpad T420 and the same device (828mk3 FireWire only). Although I can see XRUNs each several hundreds seconds in a case of 192.0 kHz, 512/1024 frames/period and 2-4 periods/buffer, I cannot see periodicity based on the size of buffer.

My equipments:
 - Machine
   - Thinkpad T420
 - CPU
   - Intel Core i5-5220M (2.5GHz)
   - Hyperthreading off
 - 1394 OHCI controller
   1. o

[2020-05-15 09:44] takaswie commented on #27
But in another system I run jackd with '-v' option and receive the same XRUN error.

[code]

I'd like to have more time to investigate the XRUN further, mmm.

[2020-05-15 10:10] takaswie commented on #27
As long as I apply below patch to ALSA firewire stack, I can see no printk output when encountering the XRUNs on jackd process.

[code]

[2020-05-15 10:14] takaswie commented on #27
The list of system call on jackd process includes POLLERR in capture PCM character device.

[code]

[2020-05-15 10:25] takaswie commented on #27
Playback-only mode of jackd can suppress this issue since the process doesn't process capture PCM character device (of cource).

[2020-05-15 10:29] takaswie commented on #27
Against my expectation, capture-only mode of jackd can suppress the issue.

[code]

[2020-05-15 10:49] takaswie commented on #27
Oops. The another system runs with MOTU UltraLite mk3 (FireWire model) and the driver under development doesn't work well at 88.2/96.0 kHz (I programmed wrong stream format)...

[2020-05-15 10:58] takaswie commented on #27
But it's possible that the device reduces the number of chunks up to unexpected value, hm.

@ alesandar Would I request you to retrieve output from `/proc/asound/cardX/firewire/format`? (Here X is the card number of your device in ALSA subsystem.) As long as I know, 828mk3 is a kind of device which changes packet format according to settings for optical audio interface.

[2020-05-16 03:28] takaswie commented on #27
I worked with bus analyzer to retrieve the profiles of isochronous packet from/to MOTU 828mk3.

* The size of payload in isoc packet at 44.1/48.0 kHz (quadlet)

|  opt A  | opt  B  | tx  | rx  |
|---------|---------|-----|-----|
| disable | disable | 130 | 130 |
| ADAT    | disable | 178 | 154 |
| TOSLINK | disable | 154 | 130 |
| disable | ADAT    | 178 | 154 |
| disable | TOSLINK | 154 | 130 |
|

[2020-05-16 03:33] takaswie commented on #27
In the case of MOTU AudioExpress.

* The size of payload in isoc packet at 44.1/48.0 kHz (quadlet)

| tx  | rx  |
|-----|-----|
|  82 |  82 |

* The size of payload in isoc packet at 88.2/96.0 kHz (quadlet)

| tx  | rx  |
|-----|-----|
| 162 | 162 |

[2020-05-16 03:33] takaswie commented on #27
In the case of MOTU 4pre.

# The size of payload in isoc packet at 44.1/48.0 kHz (quadlet)

| tx  | rx  |
|-----|-----|
|  82 |  82 |

# The size of payload in isoc packet at 88.2/96.0 kHz (quadlet)

| tx  | rx  |
|-----|-----|
| 162 | 162 |

[2020-05-16 03:35] takaswie commented on #27
In the case of MOTU UltraLite mk3 (fw).

* The size of payload in isoc packet at 44.1/48.0 kHz (quadlet)

| tx  | rx  |
|-----|-----|
| 130 | 106 |

* The size of payload in isoc packet at 88.2/96.0 kHz (quadlet)

| tx  | rx  |
|-----|-----|
| 210 | 210 |

* The size of payload in isoc packet at 88.2/96.0 kHz (quadlet)

| tx  | rx  |
|-----|-----|
| 322 | 418 |

[2020-05-16 06:11] takaswie commented on #27
In the case of MOTU UltraLite.

|  STF(kHz)   | tx  | rx  |
| ----------- |-----|-----|
|  44.1/ 48.0 | 106 | 106 |
|  88.2/ 96.0 | 210 | 210 |

[2020-05-16 06:14] takaswie commented on #27
In the case of MOTU 8pre.

|  STF(kHz)   | ADAT | tx  | rx  |
| ----------- | ---- |-----|-----|
|  44.1/ 48.0 | off  |  82 |  58 |
|  44.1/ 48.0 | on   | 130 | 106 |
|  88.2/ 96.0 | off  | 162 | 114 |
|  88.2/ 96.0 | on   | 258 | 210 |

[2020-05-16 06:16] takaswie commented on #27
In the case of Traveler.

|  STF(kHz)   | optical | tx  | rx  |
| ----------- |---------|-----|-----|
|  44.1/ 48.0 | disable | 106 | 106 |
|  44.1/ 48.0 | ADAT    | 154 | 154 |
|  44.1/ 48.0 | TOSLINK | 106 | 106 |
| ----------- |---------|-----|-----|
|  88.2/ 96.0 | disable | 210 | 210 |
|  88.2/ 96.0 | ADAT    | 258 | 258 |
|  88.2/ 96.0 | TOSLINK | 210 | 210 |

[2020-05-16 06:17] takaswie commented on #27
In the case of MOTU 828mkII.

|  STF(kHz)   | optical | tx  | rx  |
| ----------- |---------|-----|-----|
|  44.1/ 48.0 | disable | 106 | 106 |
|  44.1/ 48.0 | ADAT    | 154 | 154 |
|  44.1/ 48.0 | TOSLINK | 106 | 106 |
| ----------- |---------|-----|-----|
|  88.2/ 96.0 | disable | 210 | 210 |
|  88.2/ 96.0 | ADAT    | 258 | 258 |
|  88.2/ 96.0 | TOSLINK | 210 | 210 |

[2020-05-16 06:19] takaswie commented on #27
In the case of MOTU 896.

|  STF(kHz)   | ADAT | tx  | rx  |
| ----------- |------|-----|-----|
|  44.1/ 48.0 | off  |  74 |  74 |
|  44.1/ 48.0 | on   | 122 | 122 |
| ----------- |------|-----|-----|
|  88.2/ 96.0 | off  | 146 | 146 |

[2020-05-16 06:20] takaswie commented on #27
In the case of MOTU 828.

|  STF(kHz)   | optical | tx  | rx  |
| ----------- |---------|-----|-----|
|  44.1/ 48.0 | disable |  82 |  74 |
|  44.1/ 48.0 | ADAT    | 130 | 121 |
|  44.1/ 48.0 | TOSLINK |  82 |  74 |

[2020-05-16 06:28] takaswie commented on #27
In the case of MOTU V4HD.

|  STF(kHz)   | Analog | AES/EBU | ADAT | SDI | tx  | rx  |
| ----------- |--------|---------|------|-----|-----|-----|
|  44.1/ 48.0 | on     |         |      |     | 82  | 82  |
|  44.1/ 48.0 |        | on      |      |     | 82  | 82  |
|  44.1/ 48.0 |        |         | on   |     | 82  | 82  |
|  44.1/ 48.0 |        |         |      | on  | 82  | 82  |
|  44.1/ 48.0

[2020-05-16 07:09] takaswie commented on #27
In protocol of MOTU FireWire series, the number of 24-bit chunks per data block can be calculated by this formula:

[code]

|  name | STF(kHz)    | Analog | AES/EBU | ADAT | SDI | tx   | rx   |
|-------|-------------|--------|---------|------|-----|------|------|
|  V4HD | 44.1/ 48.0  | on     | off     | off  | off | 12.0 | 12.0 |
|  V4HD | 44.1/ 48.0  | off    | on      | off  | off | 12.0 | 12.

[2020-05-16 09:53] takaswie commented on #27
For Traveller at higher rate, tx/rx packets includes 8 chunks without message chunks.

[2020-05-16 11:13] alesandar commented on #27
I will provide additional information a little bit later, regarding some tests with multi-threading disabled, capture-only and playback-only modes, but in the meanwhile:

[code]
I would also like to remind you about the fact that I could initialize the interface only at 192kHz, otherwise I get the DMA context error message, thrown by firewire-ohci, mentioned in my first message.

What is the revis

[2020-05-16 12:34] takaswie commented on #27
[code]

As you suspect, Ricoh chip of 1394 OHCI controller has been reported to have some quirks, as long as I know. However, firewire-ohci driver in Linux kernel has some workaround to use the controller. In my environment, the driver is loaded with quirk 0x11.

[code]

I'd like you to check whether the driver is loaded with proper quirk flags. You can see what 0x11 quirks mean in source code of

[2020-05-16 12:51] takaswie commented on #27
[code]

The device seems to be configured so that both of optical interfaces to both direction are for ADAT. In this case, the sum of msg/fixed/differed should equal to entries in below table, and actually the same:

[code]

[2020-05-16 15:14] alesandar commented on #27
firewire-ohci is being loaded with the same quirks flag as yours by default, 0x11.
I have previously tested 0x1, but the results were much worse.

[2020-05-16 21:19] alesandar commented on #27
I have temporarily switched from JACK2 to JACK1 and turned off hyper-threading.

`jackd -v -P69 -dalsa -dhw:D828mk3,0 -r192000 -p512 -n3 -P` (playback-only mode) has been running for about 20 minutes, without any issues, while MPD was playing through two of the analogue outputs.

However, in capture-only mode I had to remove the realtime-priority parameter. Whether the realtime property has been s

[2020-05-17 10:01] alesandar commented on #27
The interface could be initialized at 176.4kHz, but this might not make a big difference, since the msg/fixed/differed format is the same, as it is for 192kHz.

[2020-05-17 10:09] alesandar commented on #27
@takaswie, what is you firmware version? I forgot to mention, but mine is v1.06.

[2020-05-17 10:32] alesandar commented on #27
That was very interesting. I have booted into Windows and disabled the optical in/outs.
You were right, they were set to be used for ADAT and that's probably set upon a hardware reset.
Now I can initialize the interface at lower sample rates without any issues.
Tested everything below 176.4kHz (44.1kHz / 48kHz / 88.2kHz / 96kHz).

[2020-05-17 10:49] alesandar commented on #27
[code]

[2020-05-17 12:52] takaswie commented on #27
I use the same version of firmware (v1.06).

[2020-05-17 13:13] takaswie commented on #27
You can do it by CueMix on device without any software on Windows. Just disconnect the unit from IEEE 1394 bus.

Hm. In my side, communication with these ADAT interfaces is available. I guess that the cause is on the lower layer than protocol processing; e.g. bandwidth limitation on PCI bus and so on.

For your information, in my machine, any virtualization feature is disabled (VT-x, VT-d). Would

[2020-05-17 13:43] alesandar commented on #27
In duplex mode, periodical xruns still occur. This time realtime priority was not enabled.
JACK was started with the following command:

`jackd -r -dalsa -dhw:D828mk3 -r192000 -p1024 -n4`

[code]
The average time between xruns here is ~355s. Pretty much the same as in my first post, but this time I have used the system logs, in order to calculate the period.

I haven't used any kind of hardware vi

[2020-05-17 16:09] alesandar commented on #27
VT-x has been disabled. Confirmed by the empty output of  `lscpu | grep Virtualization` and `cat /proc/cpuinfo | grep -E 'vmx|svm|0xc0f'`. The issue is still present, when I use playback and capture simultaneously.

[2020-05-18 00:31] takaswie commented on #27
To make extra sure, would I ask you to disable machine-level VT-x/VT-d in BIOS since VT-d is feature of IOMMU and it might affects I/O in PCI/PCI-E bus theirselves. in my understanding.

[2020-05-18 00:33] takaswie commented on #27
As long as I investigated by IEEE 1394 protocol analyzer, the size of incoming/outgoing packet is expected for the calculation by ALSA firewire-motu driver internal. Thus it's scarcely to miss-handle packet payload for missing PCM frames...

[2020-05-18 09:15] alesandar commented on #27
I use coreboot. I had to disable CONFIG_ENABLE_VMX, recompile coreboot and flash the chip again. Before doing so, both of the commands above provided output, indicating that hardware virtualization is enabled. Even if you decide to suspect that coreboot may have affected the performance of the PCI/PCI-E bus, how is this going to make a difference, if the issue is present on your system, which prob

[2020-05-18 18:48] takaswie commented on #27
Hm. The judgement was based on my memory that some products on market have inconvenience for DMA on peripheral bus for isochronous communication. 1394 OHCI is based on PCI technology. To implement it on PCI-E, some controllers integrated PCI/PCI-E bridge with 1394 OHCI. In the case of design, some products in this market have bandwidth limitation on the bridge itself. As a result, isochronous comm

[2020-05-20 20:20] alesandar commented on #27
I already know about the fact that the device is connected to a PCI bridge. The FireWire port is just a small daughter board. I have manually mounted it on my laptop, but I did not pay attention to the chip label. I have bricked my BIOS today, so by the end of the week I will be able to fix it. At that point, I will be able to confirm if it is R5U232, but that's not so important right now. I hope

[2020-05-31 18:05] alesandar commented on #27
I can confirm that my chip is also labeled as R5U232. I was unable to find a datasheet about that model. It must be a discontinued product, but the lack of information about it is somehow weird. At the same time, I was able to find a datasheet about R5C832. There are also some photos on the web, showing a chip that has an R5C832 label and I would conclude that it is a completely different product.

[2020-06-03 13:08] alesandar commented on #27
@takaswie, I have finally managed to avoid the periodic interrupts by word-clocking the interface with a mid-90's digital console (Yamaha O2R). It has been tested for about an hour in duplex-mode.

[code]

Do you think that there might be an issue with MOTU's internal clock?

[2020-06-07 01:59] takaswie commented on #27
Hi,

I'm sorry to be late for reply, but I'm a bit busy for my work for control services in user space[1].

Thanks for your effort and report. Once I suspect that the issue comes from the bandwidth limitation of PCI/PCI-Express bridge in Ricoh R5U232, however you clarify that it's incorrect and something related to internal clock. This is a great help to reveal blackbox in MOTU FireWire units.

I

[2020-06-07 10:05] alesandar commented on #27
No worries, we are not in a hurry. It's nice to see that there are new bindings for libhinawa. I have already compiled both libhinawa and hinawa-utils and kept track on some minor issues, which might soon be reported to the corresponding repositories.

I am pretty sure that there are no interrupts in both directions (incoming and outgoing signal). I have already had a nice hybrid jam with some har

[2020-06-07 10:56] alesandar commented on #27
Regarding what I have said in one of my previous messages:

I have found a message by a Ricoh employee, stating that `1180:e823` is actually used for two devices - R5U220/R5U232. [1] At the same time, Ricoh has uploaded two separate specifications for R5U232 and R5C832, which does not seem to be the same thing. [2] [3] Third-party services seems to keep only the the R5C832 datasheet.

I have decid

[2020-06-19 08:10] danielmellado opened #28 "Can't compile module with latest fedora kernel"
Hi, I'm trying to compile the latest module with fedora32 and dkms fails

[code]

Checking the file shows as follows:

[code]
As I'm not familiar with this process, I'm not sure if I might be missing any required library, mind having a look at this?

Thanks!

[2020-06-19 08:31] takaswie commented on #28
Hi,

Thanks for your report and I'm sorry for the inconvenience.

Recently Linux kernel got changes for year 2038 issue and UAPI header of Linux sound subsystem was changed. On the other hand, in my repository, old headers are included. This is the cause of issue.

[2020-06-19 08:32] takaswie commented on #28
I'll try to backport patches including the changes.

[2020-06-19 08:39] takaswie commented on #28
[code]

As long as I investigated, the above patches should be backported.

[2020-06-19 08:55] takaswie commented on #28
@danielmellado Would you please try HEAD of `topic/backport-y2038-changes` branch and report the result?

[2020-06-19 09:04] danielmellado commented on #28
Now it did work and compile just fine, thanks for your quick response!

[2020-06-19 09:06] danielmellado commented on #28
In any case, I've another doubt, which is outside of the scope of this bug, so will probably just cc alsa-devel, but after modprobing `snd-firewire-lib` and `snd-firewire-motu` and doing `alsactl restore` I would've expected to see my MOTU 896HD at /proc/asound/cards. Am I missing some usage of the modules? Thanks in advance!

[2020-06-19 09:18] takaswie commented on #28
MOTU 896HD is supported neither in this repository[1] nor upstream[2], since I've had no chance to access to the device (it's still expensive even if enough later being discontinued).

If I expect your cooperation, I will work to support it. However, current ALSA firewire-motu driver still has some issues about media clock recovery and it's likely that I cannot meet your request fully.

[1] https:

[2020-06-19 09:31] danielmellado commented on #28
Hi @takaswie, yeah, that'd be awesome! Let me know how I can help you achieve that! For now I've got the device working with libffado + jack / pulseaudio bridge but it'd be really cool to have it under alsa. Regarding the device, feel free to reach me out in order to get any logs/info/tests you'd like me to run over it. Thanks a lot!

[2020-06-19 11:40] takaswie commented on #28
Hm.

If you're satisfied to FFADO stack, I think it better just to use it, because it takes you a batch of free time and efforts to assist my work. In a point of life, time is finite and expensive. It's better to use the time for more important thing to you.

Novertheless you are going to assist my work, I'm glad to hear it and make some instructions to gather device data.

Thanks

[2020-06-26 15:17] danielmellado commented on #28
Hi @takaswie, I'd love seeing this working under alsa and I'm pretty sure that I can save some time to help you with that, so let me know on what should we start with ;)

[2020-07-08 01:28] takaswie commented on #28
Hi @danielmellado,

I'm sorry to be late for reply but I was pretty busy for my work of ALSA control services in userspace[1].

In a couple of days, I'm prepare python 3 script to retrieve data for your model. It's libhinawa[2] application and I'd like you to install the library with gobject-introspection[3] support.

[1] https://mailman.alsa-project.org/pipermail/alsa-devel/2020-July/170331.html

[2020-07-12 08:28] takaswie commented on #28
Hi @danielmellado ,

I forgot to note that [PyGObject](https://pygobject.readthedocs.io/en/latest/) is required to load libhinawa in Python 3 runtime via gobject introspection.

Well, I prepare for below Python 3 script to detect information required for packet streaming in 896HD case.

[code]

When you have enough permissions for ALSA HwDep character device (`/dev/snd/hwC%uD%u`) and Linux FireWir

[2020-08-06 09:22] danielmellado commented on #28
Hi @takaswie, sorry for the delay as well! I ran into some issues when installing libhinawa. Although I got all the dependencies, I guess something is wrong there, after I do ninja install:

[code]

[code]
[code]

But when I run your script I get the following:

[code]

I thought this could be related to some path and so so I even generated an rpm based on your instructions (just changing tar.gz t

[2020-08-06 09:23] danielmellado commented on #28
btw, wouldn't you be on freenode? maybe that'd make things easier ;)

[2020-08-06 09:28] danielmellado commented on #28
also, on `/dev/snd` I don't get to see any `hwC2D0' device, but

[code]

[2020-08-06 09:38] danielmellado commented on #28
changing that to `hwC0D2` just in case, and it doesn't seem to be the proper one:

[code]

[2020-08-06 09:39] takaswie commented on #28
Oops. How stupid I am...

[code]

ALSA firewire-motu driver doesn't handle your unit yet. So the instance should be from `HinawaFwNode` instead of `HinawaSndUnit`...

Would you please decide which channel in which we are going to log?

Thanks

[2020-08-06 09:43] takaswie commented on #28
This rewritten code should work for your HD896:

[code]

The diff from the previous version:

[code]

Thanks

[2020-08-06 09:45] takaswie commented on #28
And let us move to another issue in which we discuss about MOTU 896HD support ;)

[2020-08-06 10:33] danielmellado opened #29 "Add support for MOTU 896 HD"
Coming from https://github.com/takaswie/snd-firewire-improve/issues/28

[2020-08-06 10:34] danielmellado commented on #29
@takaswie this is the output from the script how ;)

[code]

In terms of the physical knobs, the do control monitor level/volume + mix 1/4 and meters, if pressed.

[2020-08-06 10:37] #28 closed

[2020-08-06 10:47] takaswie commented on #29
@danielmellado Great ;)

Hm. Although I expected that users can configure digital I/O port (optical interface) and clock configurations (source and frequency), the configuration is just available via GUI software according to manual. (In MOTU 828mkII or later, users can configure them by physical knobs.)

It means that I should update the script so that we can configure these features and check cu

[2020-08-06 10:50] danielmellado commented on #29
Hi @takaswie sure, I have also checked via ffado-mixer, and although the optical I/O can be set to ADAT/Disabled, it doesn't seem to honor it, as well as sample rate. I have been able to change samplerate using jack and can provide another output just so we make sure it works there ;)

[code]

Regarding the time, for sure! You have been extremely responsive, so thanks a lot! ;)

[2020-08-06 10:57] danielmellado commented on #29
Ok, so in the end I was able to change them using ffado-mixer and it does seem to work ;), @takaswie that might save you some work ;)

[code]

[2020-08-06 11:04] danielmellado commented on #29
btw, forgot to mention that I'm also logged in as `dmellado` in freenode's #alsa channel, should you want to ping me. I do also run a bouncer so would appear usually online.

[2020-08-23 13:52] zeh-git opened #30 "Digi001 support"

[2020-08-23 13:56] #30 closed, assigned to takaswie

[2020-08-25 05:03] takaswie commented on #29
Hi @danielmellado ,

I'm sorry to be late for reply, but I was a bit busy for new releases of
libhinawa[1]/libhinoko[2] and their rust bindings[3][4].

It might be against your expectation that ALSA firewire stack is not a
port of libffado from user land to kernel land. I have been doing
investigation and reverse-engineering again apart from FFADO
implementation. Thus it is not preferable that the

[2020-08-25 05:18] takaswie commented on #29
@danielmellado ,

present there's no guarantee, sorry.

If I fortunately get it, I'll prepare for kernel patch to add support for the device. Before posting, I'm going to ask you for test.

[2020-08-27 08:53] takaswie commented on #29
The misfortune comes to me. The bought MOTU 896HD is in disorder and can not detected on IEEE 1394 bus, sigh...

[2020-08-27 09:17] danielmellado commented on #29
Hi @takaswie, just read all this, wow! Thanks a lot for trying that out! May I help you with some contribution for the MOTU thing? In any case if it's used and not working that's a pain... Should we be leaving somehow close I would ship you mine and lend it to you for the testing... Is there anything I can do from my side?

Basically my idea on the test was, as I can't modify the outputs physicall

[2020-08-27 09:19] danielmellado commented on #29
What we might do is to have a shared tmate session maybe, so you can get access to the hardware, what do you think?

[2020-08-30 09:05] takaswie commented on #29
Hi,

I'm sorry to be late reply, but was a bit busy for this PR[1].

Thanks for your dedication and suggestions. Here, I explain my way to work for
ALSA firewire stack.

I have IEEE 1394 protocol hardware analyzer[2]. My work is based on analysis of
actual packet on IEEE 1394 bus, sniffed by the analyzer. I manage to rely on
the analysis result to exclude FFADO implementation from ALSA firewire st

[2020-09-21 09:52] alesandar commented on #27
I can confirm that the exact same problem occurs with ThinkPad W530. The hardware specification of that laptop is pretty much the same as the one for my modded T420, but this time there are no hardware/software mods. Fresh Ubuntu Studio install. It would be interesting to see if the problem occurs with the following combo - ThinkPad T42 and PCMCIA card w/ VIA chip. I've got the T42 from the flea m

[2020-09-27 17:21] alesandar commented on #27
I won't be able to perform the tests with the PCMCIA, because I have probably fried the T42 mobo.

[2020-09-27 17:50] alesandar opened #31 "Periodic interrupts with Digidesign Digi 002 Rack"
Today I've got a decent deal for a Digidesign Digi 002 Rack, so I decided to get it, primarily for testing purposes. It seems like it has the same problem, as we've previously discussed in #27. #26 seems to be pretty much the same. Can you confirm if all three issues are actually caused by #24?

[2020-09-28 00:24] takaswie commented on #31
The mechanism is completely different depending on the devices even if the behaviour is superficially similar.

In Digidesign Digi 00x family, each isochronous packet transfers no information about timing synchronization, as I described at #24.

In MOTU FireWire series, each data block in isochronous packet has information about timing synchronization in its `sph` field. I understand that the sequ

[2020-10-01 20:28] galileo-pkm opened #32 "Enhancement request: Add "pretty" port names"
When using JackD it would be beneficial to add port aliases the same way FFado does.
For example, with FFado:

[code]
with snd_bebob:

[code]
All of my attempts to do so via jack_property have failed ...

[2020-10-02 01:30] takaswie commented on #32
Hi @galileo-pkm,

Thanks for the idea. I've been considering about how to implement it by ALSA functionalities for a long time.

At the first place, ALSA has no functionality to deliver detail information about each pcm channels into applications. Therefore your idea should involve any change in ALSA core itself.

Actually, you can see the pretty port names for the devices only handled by libffado

[2020-10-02 17:59] galileo-pkm commented on #32
Fat chance of that happening.
I have been testing snd_bebob in last ditch effort
to rule out FFado as the cause of my interface randomly disappearing from the
firewire bus and the lack of proper channel names is quite annoying.
Maybe I could nag the Jack developers to add the hint.description from alsa ...

[2020-10-03 05:17] takaswie commented on #32
I guess that you encounter the issue reported in the below thread:

https://mailman.alsa-project.org/pipermail/alsa-devel/2020-March/165257.html

FA-66 uses DM1000 chipset produced by BridgeCo. AG with BridgeCo. Enhancement Break Out Box (BeBoB). I know the model sometimes reboot when breaking connection for packet streaming. Unfortunately, I don't know the cause yet.

The value of `hint.descripti

[2020-10-03 15:13] galileo-pkm commented on #32
I believe that it is a different kind of issue. They report that the device resets.
In my case the device disappears from the bus
(ffado-test ListDevices does not see it, nothing in the syslog).
Only thing that works is to cycle power on the interface.

That's with FFado, not your driver and it is really random, happens 1 in 10 times
tricky to diagnose. That's why I switched to snd_bebob but I hit

[2020-10-31 13:00] capoei opened #33 "snd-dice / TC Electronic Konnekt 24D"
snd-dice never worked for my device. I guess the issue is known? the sound is crackling, and these are no x-runs. It was ok for me all those years since ffado works great for this device. now I am interested in snd-dice again whatever, since I would like to use Pipewire which doesn't suport ffado. If there is anything I can do to help debug the issue let me know

[2020-10-31 14:55] takaswie commented on #33
Hi @capoei,

I'm sorry for the inconvenience. I use all of models produced by TC Electronic with ASICs of DICE series to test ALSA dice driver:
 - Konnekt 24D (DiceII)
 - Konnekt 8 (DiceII)
 - Konnekt Live (DiceII)
 - Impact Twin (DiceII)
 - Studio Konnekt 48 (DiceII + TCD2210)
 - Digital Konnekt x32 (DiceII + TCD2210)
 - Desktop Konnekt 6 (TCD2220)

All of them are a kind of device which uses uni

[2020-11-04 10:03] capoei commented on #33
Hi @takaswie what a pitty.
is there a updated list of win/mac-obsolete great pro devices that work flawlessly with the alsa driver?

[2020-11-04 23:55] takaswie commented on #33
The meaning of `pro` differs depending on context (e.g. audio listening, audio recording, audio mastering and so on). It's better to describe your needs when posting such kind of question as detal as possible, in my opinion.

[2020-11-05 00:34] capoei commented on #33
I am thinking of something like Presonus Firestudio Project or Digi 002 Rack for example. both which I saw used for cheap only to find out that their alsa drivers also have problems

[2020-11-05 01:39] takaswie commented on #33
Presonus Firestudio Project uses TCD2210 and support TCAT protocol extension. Digidesign Digi002 rack uses FPGA[1] to process payload of isochronous packet by own way.

Both models use different way to transfer media transfer clock, however in a point of expecting drivers to recover the media transfer clock on incoming packet for outgoing packet, they are the same.

[1] https://git.kernel.org/pub/

[2020-11-06 10:10] capoei commented on #33
well, both have problems with the driver, right?

On Nov 4 2020, at 10:39 pm, 坂本 貴史 <notifications@github.com> wrote:

[2020-12-29 08:15] zamaudio commented on #24
@takaswie the approach we could use that FFADO also uses, is to convert non-blocking transmission into blocking so we can use your existing blocking streaming system:  Collect the frames that appear on the bus into a `pseudo-packet` buffer.  Once 1x `SYT_INTERVAL` of frames is present, mark the packet as being present, measure the time of arrival of the pseudo packet and use that as a timestamp.

[2021-01-19 10:00] StrictAvacado commented on #31
hi I am using a digidesign 002r with a TI XIO2213B. so far i have not experienced any issues. I am testing with kde neon with kernel 5.4.0-60-generic. I wonder if some the issues other people are having are caused by the firewire chipset silicon?

[2021-01-19 12:24] alesandar commented on #31
@StrictAvacado, are you using jackd with Reaper? If yes, then are you sure that your jackd is not reporting any xruns? I have performed tests on many different machines, with different chipsets and peripherals (external PCMCIA cards w/ VIA, internal Texas Instruments and Ricoh chipsets, etc). The issue was 100% reproducible everywhere.

[2021-01-19 13:43] takaswie commented on #31
@alesandar Hm. In development period for Linux kernel v5.5, I've added many changes to IEC 61883-1/6 packet streaming engine in ALSA firewire stack. If the issue were a kind of regression, it have come from the change. Would I request the kernel version which you use?

[2021-01-19 14:04] alesandar commented on #31
That system is not in front of me right now, but the kernel version is definitely higher than 5.6.8, since I have reported my initial MOTU 828mk3 issue on Apr 30, 2020 (running 5.6.8 back then). I could check the exact version later, if it matters.

[2021-01-19 14:29] takaswie commented on #31
@alesandar Thanks. The kernel you use seems to include the changes.

[code]

One of aim of the change is to introduce arrangement of the period of hardware interrupt according to the size of period in PCM buffer configured by userspace application. It's done in v5.5. Before the change, hardware interrupt of 1394 OHCI controller is scheduled every 2 millisecond (= 16 packets/8000 cycles) and the si

[2021-01-19 15:52] StrictAvacado commented on #31
I am just using pulseaudio at the moment. and I can't hear any audible deference between linux and the windows driver and i can't see any pulses or dropout in my recording in reaper. I will testout jackd and see more I can learn. and for more info I am using a ryzen 3200g with dual channel ram and the firewire interface is a pcie card.. I am not sure if it going directly to the cpu or if it is con

[2021-01-19 16:24] StrictAvacado commented on #31
I setup jackd with ubuntu studio controls. i had some xruns,then i restarted the server. now no problems. no xruns and i can set the sample rate to 96khz that works fine. no pops,clicks, or dropouts in in my recording.

[2021-01-19 17:55] alesandar commented on #31
The dropouts are not that audible, depending on what you're recording. If you have an equipment that can produce a low-frequency sine wave, you will easily consider how the cycle of the wave will be interrupted at some point and that will happen again, and again, periodically. Audacity could mark the dropouts. Reaper does not have that capability, as far as I know. The issue is worse if you run ja

[2021-03-15 21:22] vermeeren opened #34 "Mytek Stereo192-DSD-DAC crackling since duplex stream synchronisation removal CIP_SYNC_TO_DEVICE in 2016"
Hi Takashi,

With Mytek Stereo192-DSD-DAC there is consistent crackling in audio stream with post-2016 driver stack, I believe due to quirk in firmware or hardware of Stereo192-DSD-DAC with Dice Mini (TCD2210) possibly in combination with ALSA firewire driver, as Focusrite Saffire Pro 24 microphone interface works well with both old and new driver stack. Here are some loopback recordings with foll

[2021-03-16 14:24] takaswie commented on #34
@vermeeren

Another negative side of the implementation for `CIP_SYNC_TO_DEVICE` is to
handle one 1394 OHCI isochronous transmit (IT) context (=PCM playback direction)
in IRQ handler for one 1394 OHCI isochronous receive (IR) context (=PCM capture
direction). The implementation aims to reuse information in the packet for IR
context for packet IT context; e.g. the number of PCM frames in packet,
ti

[2021-03-16 14:27] takaswie commented on #34
@vermeeren Anyway I respect your work to bisect patches and find the positive side of `CIP_SYNC_TO_DEVICE`. I apologize not to give enough information in advance.

[2021-03-18 16:37] pneyrinck commented on #26
The pro audio design of the 003/002 is that it the sample rate clock can be driven by external clock sources such as SPDIF or Word Clock and that the audio data going between the DAW and the outside world is not modified whatsoever. Thus, the driver has to assume the device is not synchronized to the Firewire bus clock. If the driver sends the exact same number of blocks as received over time , th

[2021-03-19 03:07] takaswie commented on #26
Hi @pneyrinch,

Yes. Although the way to calculate the 'average' is the item to be resolved, no one has proposal for it. They just took arguments and left.

[2021-03-19 13:38] vermeeren commented on #34
@takaswie Thanks a lot for the detailed reply, I appreciate it. No worries about a lack of information at all.

I have done some reading in the other issues which I think is effectively the same problem as with this DAC, I see there is a design task at hand with the comment in https://github.com/takaswie/snd-firewire-improve/issues/26#issuecomment-802510050. If I understand correctly, the problem

[2021-03-19 19:34] pneyrinck commented on #26
I sent you an email with some naive pseudo code. I hope it can help keep the discussion going. But please know that I do not yet understand how your driver's buffering operates to set up the talker packets.

Here is the naive pseudo-code:

void* talkPackets[200];
void* listenPackets[200];
void callbackAfterEach100TalkPacketsSent();
void callbackForSecond100TalkPacketsSent();
void prepareTalkPacket

[2021-03-20 08:02] takaswie commented on #26
Hi @pneyrinck ,

Thanks for the pseudo code.

[code]

I guess you have experiences for IEEE 1722 due to usage of the words, `talker` and `listener`.
In my understanding, IEC-61883-1/6 is an ancestor of the specification.

It looks good. I guess that the number for packet (=100) is ad-hoc one, and we need to find the number better to each device types with many cases (IEC 61883-1/6 packet streaming

[2021-03-20 17:10] pneyrinck commented on #26
I have been looking at the book "FireWire System Architecture" by Don Anderson and the Mac OS Firewire APIs which use 'talker' and 'listener.'

Yes, the number 100 is an example I chose out of thin air.

[2021-03-21 02:18] takaswie commented on #26
Oh, surprising! I have a bias that the word, 'talker' and 'listener' first appeared in documentation about IEEE 1722 or Audio and Video Bridging (AVB) since I've never read any documentation about IEEE 1394 packet streaming with the words. I'm going to refer to it, thanks.

[2021-03-24 19:02] vermeeren commented on #34
@takaswie By the way, I recall the Windows driver for this device takes multiple real seconds when changing the lock. I suppose their approach is to forbid any playback/capture from userspace until the timing has stabilised which takes those few seconds. For ALSA I think such an additional forced delay has more negatives than positives, as the timing will stabilise very quickly once streams are st

[2021-03-30 12:22] takaswie commented on #34
@vermeeren As another topic, I'm currently working for systemd to support hardware database for units in IEEE 1394[1]. I mostly generate these entries from my collection of images for configuration rom, retrieved from actual devices. I realized to have no image of your Mytek Stereo192-DSD-DAC. Would I  request you to make image file and send it to me, or MR to my repository?

[1] https://github.co

[2021-03-30 18:08] vermeeren commented on #34
@takaswie Yes of course I can do that, I tried reading a bit but cannot find how to make such an image. Could you tell me how to do it?

[2021-03-30 23:05] takaswie commented on #34
@vermeeren

Sorry to request without any instruction...

Linux kernel has `sysfs` to export attributes of kobjects, which represent any instance maintained in kernel space. Linux FireWire subsystem maintains nodes and units in IEEE 1394 bus as kobject, and adds an attribute for content of configuration ROM into the kobject corresponding to the node.

When your Mytek Stereo192-DSD DAC is detected a

[2021-03-31 22:38] vermeeren commented on #34
@takaswie I have created MR to your repository, see takaswie/am-config-roms#2. Thanks!

[2021-04-16 16:17] takaswie commented on #34
Hi @vermeeren ,

Just now I pushed patches to `topic/media-clock-recovery` remote branch (f3bdd2c269d1).
Would I ask you to test it with your device?

With this patchset, ALSA IEC 61883-1/6 packet streaming engine processes incoming and
outgoing packets by:

1. Transfer outgoing packet with pre-computed table rate in its beginning.
2. Pool presentation timestamp in incoming packets after starting

[2021-04-16 16:23] takaswie commented on #33
Hi @capoei ,

Just now I pushed patches to `topic/media-clock-recovery` remote branch (f3bdd2c269d1).
Would I request your cooperation to debug the patches?

With this patchset, ALSA IEC 61883-1/6 packet streaming engine processes incoming and
outgoing packets by:

1. Transfer outgoing packet with pre-computed table rate in its beginning.
2. Pool presentation timestamp in incoming packets after st

[2021-04-16 23:27] capoei commented on #33
Hi @takaswie
surprised you are working on this, very cool.
I must say that I am a long time Arch user who is used to using AUR for aything which is not in the repos. I have no clue how to install this and aply patches (lol). with that beeing said, I am very intrested in the subject and will try to get my head around it soon. I´ll let you know

[2021-04-18 14:00] alesandar commented on #33
@takaswie, I decided to take a look at topic/media-clock-recovery and I can see that you've implemented some interesting stuff in sound/firewire/amdtp-stream.c, but your last commit (f3bdd2c269d189d7ff9652a919f77ee52316ef36) affects only the dice module. I am not sure if this will actually affect the corresponding modules for Motu 828mk3 and Digi 002 Rack without any further changes. I know how to

[2021-04-18 14:40] takaswie commented on #33
Hi @alesandar,

If you have interests in the patches, I feel happy. However, they are not applied to the devices as is since the devices uses complete different mechanism for media clock recovery.

Within devices supported by drivers in ALSA firewire stack, the level of Dice devices to be complianant to IEC 61883-1/6 is the best. On the other hand, devices in MOTU firewire series uses own way. The

[2021-04-19 15:11] vermeeren commented on #34
Hi @takaswie

Had some time today to review and test patches. I did testing with Debian bullseye kernel 5.10.28 and can confirm is works perfectly. Tried various settings, period/buffer size and frequencies, the lock always works in one go and there is no pops or other problems in audio signal. Patches themselves I read too and it all looks very good to me.

I also tested combination with Saffire

[2021-04-20 03:06] takaswie commented on #34
Hi @vermeeren ,

Thanks for your test, and it's nice to work well in your side, too.

Although I still find some issues in the other devices (e.g. TC Electronic Studio Konnekt 48, Alesis iO 26 and iO 14, Focusrite Saffire Pro 40, Focusrite Liquid Saffire 56), it's a good start to improve ALSA IEC 61883-1/6 packet streaming engine against the long-standing problem.

The patchset is still a skeleton

[2021-04-20 15:43] vermeeren commented on #34
@takaswie Yeah I noticed today that if a discontinuity occurs it appears to hang, freezing the userspace process holding the ALSA device also. With the old driver from 2016 on discontinuity with DAC the DAC would lose audio playback (Saffire Pro24 would still work) but packet streaming would continue, requiring restart of Jack in practice. With current patchset SIGKILL to Jack and restart Jack mak

[2021-04-23 23:31] pneyrinck commented on #26
I have some different pseudo-code to share. I am successfully using this system to keep the output synchronized to the input for the driver I am developing on Mac OS. The code calculates the average sample rate based on blocks received each isoch frame. The average sample rate allows it to calculate the number of blocks to send. It can also be used to synthesize a SYT value.

double mListenerAvera

[2021-04-24 06:44] takaswie commented on #26
Hi @pneyrinck ,

Thanks you to share the pceudo-code.

[code]

I write Python 3 script for the pseudo code:
https://gist.github.com/takaswie/34bef9035fb15a7e3f26545ca9867965

You can print parameters for each packet, when executing the script to text logs which I shared before:
https://lore.kernel.org/alsa-devel/20210327084024.GA16753@workstation/T/#t

[code]

The computation of value for SYT fiel

[2021-04-27 15:12] takaswie commented on #34
Hi @vermeeren ,

I implement it and move HEAD of `topic/media-clock-recovery` remote branch into 86a686e22bff.
Would I request you to test it with your devices?

In this trial, I implements:

 - cycle discontinuity check and let applications recover ALSA PCM substream by receiving XRUN state
 - transfer isoc packets to device at the same timing even if they are transferred by several IT context

[2021-04-30 19:57] vermeeren commented on #34
Hi @takaswie,

Today I review new patches and test them with Stereo 192-DSD DAC. The XRUN handling appears to work nicely, as intentionally causing XRUN Jack reports it as expected but the stream recovers and keeps playing audio successfully.

About sampling rate, that is actually unexpected. Even with the previous patchset 192kHz S32_LE playback worked correctly on Stereo 192-DSD DAC, I think I a

[2021-05-03 08:38] takaswie commented on #34
Hm. You mean your device was not under locked state at 192.0 kHz?

Yep.

Thanks for the report. The issue seems to come from bugs in current implementation of ALSA dice driver. I'll investigate further later.

The message mean that all of available isochronous context in 1394 OHCI controller under used are reserved. In IEEE 1394, when using isochronous communication, any node should reserve isochr

[2021-05-03 17:54] vermeeren commented on #34
@takaswie I mean the device (Stereo 192-DSD DAC) locks properly at 192kHz and playback works perfectly, both with current `topic/media-clock-recovery` and the previous version from https://github.com/takaswie/snd-firewire-improve/issues/34#issuecomment-821288018.

So it is a bit strange that on the devices you test in https://github.com/takaswie/snd-firewire-improve/issues/34#issuecomment-82768813

[2021-05-04 01:36] takaswie commented on #34
Now I got it. Thanks for your indication.

At present, I think so. The mechanism for device to process PCM frames in received packets has difference somehow between with one pair and two pairs. I have some hypothesis that they require received packets at the same isoc cycle with the same SYT value, and they require received packets with sequence replayed from transferred packets at the beginning o

[2021-05-24 10:02] takaswie commented on #24
I attempt to implement media clock recovery. If still interested, please test current HEAD of `topic/media-clock-recovery` remote branch (3a2c5fd52657).

[2021-05-24 10:02] takaswie commented on #25
I attempt to implement media clock recovery. If still interested, please test current HEAD of `topic/media-clock-recovery` remote branch (3a2c5fd52657).

[2021-05-24 10:03] takaswie commented on #26
Hi,

I attempt to implement media clock recovery to suppress the issue. If still interested, please test current HEAD of `topic/media-clock-recovery` remote branch (3a2c5fd52657).

[2021-05-24 10:03] takaswie commented on #27
I attempt to implement media clock recovery to suppress the issue. If still interested, please test current HEAD of `topic/media-clock-recovery` remote branch (3a2c5fd52657).

For jackd, I recommend to use `-S` option.

[2021-05-24 10:04] takaswie commented on #31
I attempt to implement media clock recovery to suppress the issue. If still interested, please test current HEAD of `topic/media-clock-recovery` remote branch (3a2c5fd52657).

For `jackd`, I recommend to use `-S` option.

[2021-05-26 21:04] alesandar commented on #31
Hello, @takaswie. I have tested the current HEAD of `topic/media-clock-recovery`.
It seems like you might have found a workaround. Congratulations!

I will provide more details during the next few days.
In the meanwhile, here are some journalctl error logs that were printed, while JACK was being initialized.

[code]

[code]

[2021-05-27 02:46] takaswie commented on #31
Hi @alesandar,

Nice to hear it.

I'm looking forward to your report with MOTU device.

The error message is convenient to my debug, which is added in the commit at HEAD of the remote branch. Just ignore it.

Thanks

[2021-05-27 07:26] alesandar commented on #31
Unfortunately, I won't be able to test my MOTU during the next few days, because of a common circuit fault.
Hopefully, I will have to replace only one or two capacitors and once I do it, I will definitely let you know.

Regarding my tests from yesterday, I have started JACK with the following settings: 48000/512/3.
Then I have started `speaker-test` and left my system playing white noise for five

[2021-05-27 08:01] takaswie commented on #31
Ah, the `-S` option is for jackd runtime itself for `--sync` feature, see:
https://github.com/jackaudio/jack2/issues/736

We need to append `--sync` option before `--driver` option.

[2021-05-27 08:20] alesandar commented on #31
Yeah, I supposed that you might be talking about the `--sync` option, but I did not know that it could be defined as capital `-S`.
I have always used your drivers in `--sync` mode. Without it, instead of a single xrun, I have been getting bursts of a few hundred xruns. Thank you for making it clear. As far as I know, `--sync` is the only available mode with JACK1 and that might be the reason for s

[2021-05-27 18:10] LGCW commented on #26
Hooked up the 003R this morning and tested it out. Recorded for 10 minutes and didn't generate any xruns. No click or pops in the recording.

Debian Buster running 5.11.2-rt.

jackd -R -S -d alsa -d hw:D003Rack -r 48000 -p 128 -n 3

![Screenshot_2021-05-27_13-34-07](https://user-images.githubusercontent.com/3475462/119873833-f3686400-bef2-11eb-9449-04dc21d802b5.png)

[2021-05-28 09:43] takaswie commented on #26
Good to hear it.

I'm going to post patchset to upstream next week, then close the issue.

Thanks.

[2021-05-29 01:18] zamaudio commented on #26
@LGCW Can you please try fpp 16 and 2 buffers?  A friend of mine said he used to run jack/ffado at this level without problems.

[2021-05-29 03:20] takaswie commented on #26
At present, the drivers don't work well at 2 periods per buffer. Please use 3 periods per buffer.

On the other hand, you can use less number of frames per period; e.g. 32 frames/period, since the drivers queue isochronous packet in process context without waiting for hardware IRQ. Rather than expansion of the number of frames per period, it's preferable to reduce the number since userspace applic

[2021-05-31 03:17] takaswie commented on #24
I note that patchset is posted to upstream:

 * https://lore.kernel.org/alsa-devel/20210531025103.17880-1-o-takashi@sakamocchi.jp/

[2021-05-31 03:18] takaswie commented on #26
I note that patchset is posted to upstream:

 * https://lore.kernel.org/alsa-devel/20210531025103.17880-1-o-takashi@sakamocchi.jp/

[2021-05-31 03:18] takaswie commented on #31
I note that patchset is posted to upstream:

 * https://lore.kernel.org/alsa-devel/20210531025103.17880-1-o-takashi@sakamocchi.jp/

[2021-06-01 08:19] takaswie commented on #24
The patchset is merged to upstream. Let me close the issue. Thanks for your cooperation.

[2021-06-01 08:19] #24 closed

[2021-06-01 08:19] takaswie commented on #26
The patchset is merged to upstream. Let me close the issue. Thanks for your cooperation.

[2021-06-01 08:19] #26 closed

[2021-06-01 08:21] takaswie commented on #31
The patchset is merged to upstream. Let me close the issue. Thanks for your cooperation.

[2021-06-01 08:21] #31 closed

[2021-06-01 08:25] takaswie commented on #25
I note that patchset is posted to upstream:

* https://lore.kernel.org/alsa-devel/20210601081753.9191-1-o-takashi@sakamocchi.jp/

[2021-06-01 08:25] takaswie commented on #33
I note that patchset for the issue is posted to upstream:

* https://lore.kernel.org/alsa-devel/20210601081753.9191-1-o-takashi@sakamocchi.jp/

[2021-06-01 08:25] takaswie commented on #34
I note that patchset for the issue is posted to upstream:

* https://lore.kernel.org/alsa-devel/20210601081753.9191-1-o-takashi@sakamocchi.jp/

[2021-06-01 08:35] takaswie commented on #31
P.S. The service program to control the device is available. Please refer to below URL if you are interested:

 * https://github.com/alsa-project/snd-firewire-ctl-services/

[2021-06-01 08:36] jpargudo commented on #25
Thank you @takaswie

I'll try asap.. And give feedback.

[2021-06-01 08:36] takaswie commented on #26
P.S. The service program to control the device is available. Please refer to below URL if you are interested:

 * https://github.com/alsa-project/snd-firewire-ctl-services/

[2021-06-01 08:36] takaswie commented on #24
P.S. The service program to control the device is available. Please refer to below URL if you are interested:

 * https://github.com/alsa-project/snd-firewire-ctl-services/

[2021-06-01 08:54] takaswie commented on #25
@jpargudo

If you try, it's convenient to use`topic/media-clock-recovery` in this repository.

Thanks

[2021-06-01 23:37] takaswie commented on #34
The patchset is merged to upstream. The patches are also available in master branch of the repository.
Let me close the issue. Thanks for your cooperation.

[2021-06-01 23:37] #34 closed

[2021-06-01 23:37] takaswie commented on #33
The patchset is merged to upstream. The patches are also available in master branch of the repository.

The service program to control the device is available. Please refer to below URL if you are interested:

* https://github.com/alsa-project/snd-firewire-ctl-services/

Let me close the issue. Thanks for your cooperation.

[2021-06-01 23:37] #33 closed

[2021-06-01 23:38] takaswie commented on #25
The patchset is merged to upstream. The patches are also available in master branch of the repository.

[2021-06-02 01:38] takaswie commented on #27
I note that patchset for the issue is posted to upstream:

 * https://lore.kernel.org/alsa-devel/20210602013406.26442-1-o-takashi@sakamocchi.jp/

[2021-06-02 08:19] takaswie commented on #27
The patchset was merged to upstream. The patches are also available in master branch of the repository.
Let me close the issue. Thanks for your cooperation.

[2021-06-02 08:19] #27 closed

[2021-06-05 12:22] Schroedingers-Cat opened #35 "Fireface 802: Periodic audio artifacts"
I'm experiencing regular audio artifacts using the Fireface 802 connected via FireWire on Manjaro with kernel v5.13.

The artifacts occur about every 10-20 minutes for a duration of roughly one minute. The artifacts sound a lot like a constant phasing, suddenyl taking out a lot of low and mid frequencies and sounding harsh and but-crushing-like in the highs. The artifacts do not happen when dual-b

[2021-06-11 02:43] takaswie commented on #25
Let me close the issue since no reactions during a recent 10 days.

[2021-06-11 02:43] #25 closed

[2021-06-17 16:57] vermeeren commented on #34
@takaswie I have updated modules with DKMS some time ago and it has been working fantastically the past week or two, thank you a lot for the work! Happy to see it merged upstream.

[2021-06-23 09:59] takaswie commented on #29
Hi @danielmellado ,

Recently I worked to add support for MOTU 896 in development period for v5.14 kernel[1] and realized that both 896 and 896HD have similar features except for packet streaming function. The experience take me to make inference about specification of 896HD.

My 896HD is still broken. If you are still interested in ALSA support for 896HD, would I ask you
to test two softwares?

1

[2021-06-23 15:12] danielmellado commented on #29
Hi @takaswie, sure! thanks for your efforts on this, I'll take a look as soon as I can allocate some time ;)

[2021-06-28 00:49] takaswie commented on #29
@danielmellado Thanks to grant my request. As another request, would I ask you to make merge request to add the image of configuration ROM for your MOTU 896HD?

 * https://github.com/takaswie/am-config-roms/

The image is available by below command when detecting the node as `fw1`:

[code]

The content of image is used by Linux FireWire stack to detect operable instances of any node on IEEE 1394 b

[2021-07-17 00:52] takaswie commented on #29
Hi @danielmellado ,

24 days past since I contact to you but no reactions I have.

If you already lose interests in the topic, I'm sorry to say that I think it better to close the issue. Would I ask your situation?

[2021-07-21 01:31] jpnielsen opened #36 "M-Audio ProFire Lightbridge: Kernel panic"
Trying to revive old "M-Audio ProFire LightBridge" interface.

It's attached using adat to one PreSonus Digimax FS (I also have a Behringer Ultragain Pro-8 and an Expert Sleepers ES-3 with adat)
no-name Firewire pci-e interface (VIA VT6307 + asmedia asm1083 ICs)
motherboard is an ASRock Phantom Gaming 4 / AMD X570
CPU is a Ryzen 7 3700x
RAM is 2x16GB Corsair CMK32GX4M2B3200C16

[code]

I don't hav

[2021-07-21 05:32] jpnielsen commented on #36
Perhaps of use, i installed Ubuntu Studio 21.04

[code]

[2021-07-21 06:15] jpnielsen commented on #36
Let me add the version number found in the Windows software (version 6.0.4) for the M-Audio ProFire LightBridge:
[code]

[2021-07-22 16:00] jpnielsen commented on #36
News - New kernel - no panic.

But, pulseaudiocontrol takes a long time to come up - and the Firewire<>Adat box is not seen.

Behringer Ultragain Pro-8, adat sync blinks irregularly
Presonus Digimax FS set to adat sync locks, blinks, locks ...
The adat devices are set to sync to adat

M-Audio Profire Lightbridge LEDs:
44.1k is lit
Sync source Int is blinking irregularly.

[code]

[2021-07-22 23:20] takaswie commented on #36
Hi,

That sounds good. As long as I know, many users of Ryzen Zen 2 SoC encounter the similar issue. I guess it comes from the other part of functions irrelevant to IEEE 1394 bus and M-Audio ProFire Lightbridge.

Anyway the kernel panic issue is fixed in your side. Let you close the issue and file another one for the discontinuous issue.

[2021-07-22 23:48] #36 closed

[2021-07-22 23:51] jpnielsen opened #37 "M-Audio ProFire Lightbridge: Discontinous errors"
Hi,

That sounds good. As long as I know, many users of Ryzen Zen 2 SoC encounter the similar issue. I guess it comes from the other part of functions irrelevant to IEEE 1394 bus and M-Audio ProFire Lightbridge.

Anyway the kernel panic issue is fixed in your side. Let you close the issue and file another one for the discontinuous issue.

_Originally posted by @takaswie in https://github.com/takas

[2021-07-22 23:53] jpnielsen commented on #36
pulseaudiocontrol takes a long time to come up - and the Firewire<>Adat box is not seen.

Behringer Ultragain Pro-8, adat sync blinks irregularly
Presonus Digimax FS set to adat sync locks, blinks, locks ...
The adat devices are set to sync to adat

M-Audio Profire Lightbridge LEDs:
44.1k is lit
Sync source Int is blinking irregularly.
[code]

[2021-07-22 23:54] jpnielsen commented on #36
I did buy a 5m FireWire cable - the FW wikipedia page says 4.5m max - perhaps that is part of the explanation for the errrors ?

[2021-07-23 05:21] takaswie commented on #37
Thanks for the report.

I have M-Audio ProFire Lightbridge as one of my test device, and have realized that the
device has some quirks in its packet streaming. As a result, ALSA bebob driver often detects
packet discontinuity and cancels data transmission, as you can see in your kernel log:

[code]

The first line means that the device stops packet transmission during 4015 isochronous
cycles. The

[2021-07-23 08:06] jpnielsen commented on #37
Thank you.

I have in the meantime got the M-Audio ProFire LightBridge interface working in Windows 7 SP1 (32bit)
- on another computer - a HP Pavillion p6000. Intel core i3. 8GB ram. Nvidia geforce 610.  - with VIA FireWire onboard controller.

My best wishes
Jens Peter Nielsen

[2021-07-23 13:38] takaswie commented on #37
I'd like to fix the issue, however at present I have no idea. I keep the issue opened to tracking future improvements of ALSA firewir stack for the device.

[2021-07-23 13:40] takaswie commented on #29
Further 7 days past, but no reaction. I'll close the issue and abandon the topic remote branches.

Thanks

[2021-07-23 13:40] #29 closed

[2021-07-23 23:25] jpnielsen commented on #37
new test on windows 10 20H1 = Everything works.

HP Pavillion p6000. Intel core i3. 8GB ram. Nvidia geforce 610. - with the VIA FireWire PCI-E card I used in the AMD Zen 2 PC before.

I will now update to Windows 10 21H1 and see if it makes it crash like on the other PC before.
And after that install the same Linux that gave the errors on the other PC.

[2021-07-24 12:14] jpnielsen commented on #37
HP Pavillion p6000. Intel core i3. 8GB ram. Nvidia geforce 610. - with VIA FireWire onboard controller.

Everything works in Windows 10 19043.928

[2021-08-08 14:45] jpnielsen commented on #37
An update.

I received a new PCI-E firewire card, It works on the PC that didn't work with the VIA FW card before. Below are the errors it gives in Linux. The Presonus ADA converter fails to lock sync to the M-Audio Profire Lightbridge.

Linux manjaro 5.14.0-rc2-next-20210722custom #1 SMP PREEMPT Thu Jul 22 18:08:41 CEST 2021 x86_64 GNU/Linux

lspci | grep -i firewire

06:00.0 FireWire (IEEE 1394)

[2021-08-23 09:37] takaswie commented on #29
Today I got a new 896HD in used market. Fortunately communication function is alive.

I prepared and posted a path to upstream:
https://lore.kernel.org/alsa-devel/20210823085741.33864-1-o-takashi@sakamocchi.jp/

And it was applied to main branch:
https://git.kernel.org/pub/scm/linux/kernel/git/tiwai/sound.git/commit/?id=23c671be97b9e49846d03ceb0bce3731f4b869ac

The support will be included in Linu

[2021-08-23 09:41] danielmellado commented on #29
Hi Takashi, sorry I didn't have the chance to test this, covid around
family... Thanks for all your help! You made my day! I'll take a look at it!

El lun., 23 ago. 2021 11:37, 坂本 貴史 ***@***.***> escribió:

[2021-08-24 01:08] takaswie commented on #29
Basic control functions are also available via `snd-firewire-motu-ctl-service` program as well.

[PATCH 0/2] motu-protocols/motu-runtime: add support for MOTU 896HD
https://github.com/alsa-project/snd-firewire-ctl-services/pull/61

[2021-09-11 10:27] AreYouLoco opened #38 "Mackie Onyx 1640i: Kernel module snd-oxfw plays audio in slow motion."
As I already wrote an email to you @takaswie maybe some other developers might want to take a look so I re-post a bit reformatted report here:

So I confirm my Mackie Onyx 1640i is using snd_oxfw driver.

1. Here is dump [1] (file:trace.dat_stock) with the old (stock) driver for my custom kernel (5.12.2-rt3-fw) and the [1] (file:trace.dat_new) from your new driver (master branch) that you asked to

[2021-09-11 12:23] AreYouLoco commented on #38
I've rechecked my dmesg output and found some related lines:
[code]
Not sure using which driver. Will try to establish which driver correlates to that messages.

[2021-09-11 14:55] takaswie commented on #38
Thanks for the report! As a quick glance of the packet dump, it comes from the quirk specific to your model or mackie models. I'd like you to wait a bit till I finish further analysis.

Cheers.

[2021-09-11 15:12] takaswie commented on #38
@AreYouLoco Would I request you to ssend additional information below?

* dump of/proc/asound/cards includes values ofsome registers.

Thanks

[2021-09-11 16:03] AreYouLoco commented on #38
[code]

[2021-09-12 10:47] takaswie commented on #38
I hastily wrote Python 3 script to parse the packet dumps.

[code]

When parsing, the packet dump should be converted for text format by `trace-cmd report`.
As results:

[code]

[code]

[code]

In all cases, the device uses isochronous channel number 1. We can see apparent regression
between v5.14 kernel and v5.13 kernel or before. 55 % of packets than media clock frequency are actually transferre

[2021-09-12 11:11] AreYouLoco commented on #38
[code]

Audio and video is still in slow motion. Same result in VLC. I can see no real difference with this fix.
Packet dump: https://mega.nz/file/figBmCga#NXsEfFFprKNt552jEbjtMrlFXsbrJn-abLE9l6dYiGU

[2021-09-12 12:17] takaswie commented on #38
[code]

Thanks for the test. Hm, I pile another patch into the previous one:

[code]

Would i ask you additional test?

[2021-09-12 12:27] AreYouLoco commented on #38
`HEAD is now at 51018bd oxfw: postpone the cycle to start processing tx packets`
No real difference.

Dump fixv2: https://mega.nz/file/n3REgBYY#YLA35hobLZnepi3LcErE5df3KWu5lKrePyNmbSIyh5Q

[2021-09-12 13:11] epifanio opened #39 "Card detected but not available"
Hi,

I followed the  installation steps and after the first reboot I was able to see my MOTU UltraLite mk3 Hybrid FW-USB2 in the audio settings .. then suddenly it disappeared and no way I can get it back :(

The card works fine on the same system running windows OS, but I do not use that OS. Just to make sure the fireware pci-e card was working.

[code]
The card seems to be detected properly, see

[2021-09-12 18:35] takaswie commented on #39
Thanks for the report.

The device, MOTU Ultralite mk3 hybrid is one of my test device, and in my system I can not regenerate such trouble.

I guess that the difference in regard of system might bring the trouble. Would I request you to give information about your system; e.g. the type of distribution, kernel version, your additional configuration, and so on.

[2021-09-13 09:20] epifanio commented on #39
Sure,
I it is an ubuntu 21.10 running latest kernel available:

`Linux  5.13.0-14-generic #14-Ubuntu SMP Mon Aug 2 12:43:35 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

I did mess around with ffado-svn driver before, with no good results .. I do not know if it has something that generates a conflict with the Alsa driver.
the weird is that for a while I was able to see the mk3 in the audio settings in

[2021-09-13 09:42] epifanio commented on #39
OK! Think I found the "non-issue" ... it simply when I switched Input from the gnome audio settings, in the specific .. when I switched from MK3 input the the headset mic... I notice that in pavucontrol  configuration the MK3 device profile goes automatically to OFF .. and then it is no longer available as device for the system.
I didn't know this .. switching it back to "Multichannel Input" gave

[2021-09-13 09:43] #39 closed

[2021-09-17 12:30] takaswie commented on #38
@AreYouLoco I'm sorry to be late for reply, but I write additional patch to test. Would you please try with current HEAD (`709535a2879d`) of `topic/fix-oxfw-mackie-regression` branch?

[2021-09-21 09:04] AreYouLoco commented on #38
I tested I while ago and there seems do be problem since audio is more audible but til not normally to listed.
I Experience XRUNS while its playing and on VLC one seconds breaks i guess separate issue there.
And dump as always: https://mega.nz/file/2roXGY7T#jiwOv0msawAzLzO-C9zoLyggxb5aeqIwJsLwDsC9AMQ

[2021-09-21 13:25] takaswie commented on #38
Thanks for testing. Hm. I attempted to analyze packet dump but the data (`trace_.dat_quiet`) includes no events...
Would I ask you to get the data again?

[2021-09-21 13:31] takaswie commented on #38
And today I got similar model, Mackie Onyx 820i (OXFW971) in used market, and tested current code. As a result,
current ALSA OXFW driver can successfully handle the model, unlike your Onyx 1640i.

As long as I know, below models have the similar identification information in their configuration ROM:

 * Onyx 820i
 * Onyx 1220i
 * Onyx 1640i

They commonly have two analog output ports and the drive

[2021-09-21 14:56] AreYouLoco commented on #38
Indeed I thought its switched of speakers but there is just no sound. I am using FW channels 1-2 to out. Should try on all 16?!
DUMP: https://mega.nz/file/ijB3VCya#gYkSY0RJSOVkpAXmWTf7QY6v88L7kozcW3MoO8mEgiQ

[2021-09-21 17:34] AreYouLoco commented on #38
OFTOPPIC:

When you are done with this one I am interested in buying Onyx 820i from you. I hope the sending from wherewere you are is not too expencive.

On September 21, 2021 1:31:54 PM UTC, "坂本 貴史" ***@***.***> wrote:

[2021-09-22 11:56] takaswie commented on #38
Thanks, however the content of packet dump indicates that it is retrieved by driver version as of https://github.com/takaswie/snd-firewire-improve/issues/38#issuecomment-917625293.

Would I ask you to reinstall the driver built at current HEAD of `topic/fix-oxfw-mackie-regression` branch? It's now 709535a2879d.

Regards

[2021-09-22 17:53] AreYouLoco commented on #38
It works. But audio is distorted. Heavily.
DUMP: https://mega.nz/file/L3RQQbTJ#zgMZ4ARryG0-5J9o4ZWE_l864JzMZqIRt7OV7bK-JpU

[2021-09-23 01:02] takaswie commented on #38
Thanks. We can see apparent improvement in analysis of packet dump:

[code]

However, we can also see that the media clock frequency is not stable yet. It should be near 48,000
according to current sampling transfer frequency.

Hm. In the attempt, we use 125 msec to start media clock recovery. In next attempt,
let us use double duration, 250 msec. Would I request you for another test with current

[2021-09-30 23:41] takaswie commented on #38
@AreYouLoco I'm sorry if you are still busy but I'd like you to test the additional patch for the issue.

Thanks.

[2021-10-11 16:51] AreYouLoco commented on #38
@takaswie I will be on it in two weeks of time. I am sorry I cannot test it earlier. Will get to you as soon as possible after testing.

[2021-10-31 03:22] takaswie commented on #38
The patch is merged to Linux sound subsystem and waiting for Linux kernel v5.16 prepatch:

 * https://git.kernel.org/pub/scm/linux/kernel/git/tiwai/sound.git/commit/?id=cddcd5472abb7b8a9c37ccbcf0908b79740a01b5

[2021-11-09 11:04] AreYouLoco opened #40 "Mackie Onyx 1640i: JACK instance hangs randomly after long playback."
Hi,

I am suffering from another issue that is playing audio via PulseAudio bridge and after around 45min-1h the JACK instance just hangs producing exactly once XRUN. The only way to recover is to restart JACK. The issue was present in the stock kernel (5.12.0-rc3) module and I thought with your recent patches that is was gone but no. I am using your recent driver and it's affected as well.

First

[2021-11-11 13:16] AreYouLoco commented on #40
Cannot reproduce it. Closing for now.

[2021-11-11 16:33] dkdjam opened #41 "Firewire MOTU 8-PRE: sound output is VERY distorted"
Hey, I just tried the recent kernels and the alsa snd-firewire-motu because I have a couple of MOTU 8-PRE in our rehearsal room. I had good stuff with ffado / jack but I wanted to make it simpler and try your ALSA driver and run without jack.

Setup was a no brainer, but man, the sound coming out is ear-breaking! Sometimes I will hear the real deal, but after a few seconds it degenrates into a lou

[2021-11-11 21:15] AreYouLoco commented on #40
Log from jack when hang happens:
[code]

[2021-11-12 00:33] takaswie commented on #41
Thanks for your report.

MOTU 8pre FireWire is one of my test devices, and I don't regenerate the issue. I think we have differences
from system environment. Would I request you report about your system environment? For example:

[code]

The above is mine.

The channel positions comes from packet format decided by MOTU, thus they are not wrong,
unexpectedly to you. The first channel pair is for he

[2021-11-12 00:37] takaswie commented on #40
Thanks for the log.

When seeing the issue, you can see something in system log?

[2021-11-12 10:06] AreYouLoco commented on #40
No. I checked dmesg but there was nothing there.

[2021-11-12 16:00] AreYouLoco commented on #40
And now when I try to hunt the bug it doesn't happen;/ But I am sure at some point it will blow up. I let it run and will report when it happens.

[2021-11-14 11:02] AreYouLoco commented on #40
I got it! Now the JACK server hanged and what I got in dmesg is:
[code]

Does it tell you anything?

[2021-11-14 13:31] AreYouLoco commented on #40
So it happen again:
[code]

[2021-11-15 04:08] takaswie commented on #38
Now the patch is queued for linux-stable v5.14 and v5.15:

 * Fixes for 5.14
     * https://git.kernel.org/pub/scm/linux/kernel/git/stable/stable-queue.git/commit/?id=85d6f5e6a4cfcd22a95d46571ea02cf6b67d457d
 * Fixes for 5.15
     * https://git.kernel.org/pub/scm/linux/kernel/git/stable/stable-queue.git/commit/?id=179756d16045dc3812227354f3432c061f4403aa

[2021-11-15 09:12] AreYouLoco commented on #38
Nice!

[2021-11-16 04:58] takaswie commented on #38
Linux v5.16-rc1 is out with the patch:

 * https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tag/?h=v5.16-rc1

[2021-11-16 13:21] takaswie commented on #40
Great, thanks for the debug log.

As long as I can see, it is usual underrun issue for PCM playback substream.

[code]

The back trace tells us that the buffer of PCM playback substream has more PCM frames than
stop_threshold sw parameter:

[code]

We can guess that the process of jackd don't wake up to put enough PCM frames into the buffer
before handling the period elapsed event. Usually the pro

[2021-11-16 13:38] AreYouLoco commented on #40
Right now I am doing the tests with stock kernel (5.14.0-4-amd64) and backported drivers. Next I will try stock kernel and stock drivers and will post result. The stock kernel is build without XRUN debugging options but I can tell if the JACKdbus process will hang or not.

Also as I stated before. The debug log is consisting more than one xrun logged and only one of them is critical that makes JAC

[2021-11-16 15:47] AreYouLoco commented on #40
So I think I figured it out.
Seems like my script audio-tweaks.sh is making JACK hang somehow. Script is following:
[code]

When I trigger the script by hand on kernel 5.14.0-4-amd64 with your backported driver I have the same exact XRUN that hangs the JACKdbus proccess. Do you have any clue why is it happening? Or do I need the script at all?

[2021-11-17 10:01] AreYouLoco commented on #40
I've build a new kernel which is lowlatency but not RT (5.12.0-rc8-lowlatency-fw) and it seems like this is the best kernel so far I've tested. No hangs in hours of playback. Will see how it goes but most likely the bug is only on RT kernels.

[2021-11-19 00:01] takaswie commented on #41
7 days past, but no further information from the reporter. Let me close the issue since it seems to be invalid.

[2021-11-19 00:01] #41 closed

[2021-11-20 11:30] AreYouLoco commented on #40
How could I enable this feature to test it out? Could you make a patch?

[2021-11-20 14:01] takaswie commented on #40
This patch is what you expected:

* commit 7ba5ca32fe6e ("ALSA: firewire-lib: operate for period elapse event in process context")
     * https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=7ba5ca32fe6e

In Linux kernel 5.13 or before, the kernel symbol, `snd_pcm_period_elapsed_under_stream_lock()`,
is not found since it was introduced in 5.14.

[2021-11-20 14:12] takaswie commented on #40
For your information, relevant change of ALSA PCM core was done by the patch below:

 * commit 47271b1b98c9 ("ALSA: pcm: add snd_pcm_period_elapsed() variant without acquiring lock of PCM substream")
     * https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=47271b1b98c9

[2021-11-20 14:15] AreYouLoco commented on #40
So I tried stock Debian kernel (5.14.0-4-amd64) with stock kernel modules and the hang happened as well. I will try to reproduce it once more to be sure. And then try combination of mentioned commits.

[2021-11-21 01:20] takaswie commented on #38
Below stable kernels are out including the fix.

 * Linux 5.14.20
      * https://lore.kernel.org/lkml/1637244207253142@kroah.com/

 * Linux 5.15.3
      * https://lore.kernel.org/lkml/163726325011777@kroah.com/

Let me close the issue, thanks.

[2021-11-21 01:20] #38 closed

[2021-11-21 08:16] takaswie commented on #40
In my opinion, it is not a good approach to expand test conditions to diagnose situation.

When diagnosing situation, I think three points are important as methodology:

1. knowledge about mechanism
2. software model relevant to runtime
3. fact from experiments with various view

It's a kind of methodology. Unless fulfill the above items, final evaluation is not reliable.Unless getting reliable ev

[2021-11-23 10:28] AreYouLoco commented on #40
Ok. Thanks for explanation but I think I will need some more help to get into that methodology. For now from what I understood I've set debug parameter of `firewire-ohci` to `11`. And I will try to catch the bug and post logs from `dmesg`.

[2021-12-08 16:06] AreYouLoco commented on #40
Could you help me a bit with the other contexts?

[2021-12-09 08:49] takaswie commented on #40
For 3rd context, you did already (tracepoints in snd_firewire_lib module). For 4th context as well (XRUN debug log enabled via kernel configuration and procfs node).

[2021-12-09 11:44] AreYouLoco commented on #40
So what else could I do to help you debug that? The issue is critical in the long sessions.

[2021-12-12 01:37] takaswie commented on #40
In my opinion, it's a good start point to test with axfer(1) in [alsa-utils](https://github.com/alsa-project/alsa-utils). It's rework of aplay(1) and manage to be sample program for all of operations supported in ALSA PCM interface.

[2021-12-13 12:00] AreYouLoco commented on #40
Ok so I do have it installed but it requires wav-a-like file to play and I have no wav that are long enough to capture a problem. I will try to download some mix and convert it to wav. How do I use `axfer transfer playback` after all?

[2021-12-13 12:46] takaswie commented on #40
The `mmap/interleaved` operation is preferable to emulate the runtime of practical application, thus add `-M` or `--mmap` option.

When using `--verbose` (`-v`) option several times,  the runtime of axfer dumps detail information, thus add `-vv`.

Anyway I recommend to study the standard runtime of ALSA PCM applications by poring through manual of axfer-transfer several times, especially for `SCHE

[2021-12-13 13:01] AreYouLoco commented on #40
I've read the whole axfer manual two times.

[code]

[2021-12-13 13:06] AreYouLoco commented on #40
Now it seems to run and with --fatal-errors it will stop at XRUN right? Will the `capture.wav` be any useful?

[2021-12-30 10:11] AreYouLoco commented on #40
I was not using hardware for some time and today again it hanged. @takaswie could you elaborate more on why would I use axfer to hunt that bug?

[2022-02-15 20:49] dstra2 opened #42 "Behringer X32: Crackling playback at 48 kHz"
Hi,

I'm using a Behringer X32. The mixer supports two sampling rates: 44.1 and 48 kHz. Via the firewire connection (JACK audio server with firewire backend), both recording and playback at 44.1 kHz work without any problems. But at 48 kHz only recording works, playback is heavily disturbed (digital artefacts).

When the mixer is connected, it is (correctly) recognised as
`BEHRINGER X_UF (id:6, re

[2022-02-20 11:58] dstra2 commented on #42
Thanks for the feedback. I managed to install the drivers from the Github repository and do some testing. The findings are:

- Playback now basically works with both 44.1 and 48 kHz.
- Unfortunately, the mixing console can now only be operated reasonably stable in 16 input/output mode (instead of 32) and with a large JACK buffer (>= 512). With a smaller JACK buffer or in 32 input/output mode, cont

[2022-02-21 01:05] takaswie commented on #42
Hi,

Thanks for your test.

Some users report the similar issue in default settings of jackd service. I'd like you to try below
additional configurations:

 * Enable `--sync` / `-S` option for normal mode (synchronizing to output device explicitly) to suppress flush mode
    * https://github.com/jackaudio/jack2/blob/develop/common/JackServerGlobals.cpp#L162
 * use 3 or more for `--nperiods` / `-n`

[2022-02-27 23:41] dstra2 commented on #42
Thanks for the instructions.

All tests (including the previous ones) were performed with 3 periods.

The xruns have disappeared and the JACK buffer can be set much smaller again (both in 16 and 32 input/output modes). After a while, however, noise reappears (not xruns). The time it takes for the noise to reappear is irregular (a few seconds to several minutes; I have not yet been able to see a pa

[2022-02-27 23:49] dstra2 commented on #42
I closed the issue by mistake and therefore reopen it...

[2022-03-01 01:22] takaswie commented on #42
Hm. Would I ask you to use the other sound services like PulseAudio (or PipeWire)
as comparison experiments? You can check current clock of sampling frequency
by output of `/proc/asound/cardX/firewire/clock` (X is numeric ID for your
device in Linux sound subsystem).

Great. I pushed it at a commit c83dbf04db00.
 * https://github.com/takaswie/am-config-roms/commit/c83dbf04db00845180757aa1d5e33e557

[2022-03-07 19:36] dstra2 commented on #42
Hi,

as comparison experiments?

Tests under PulseAudio have led to the following results (playback of an audio file using Audacity, kernel 5.13.1-051301-lowlatency, drivers from this repository):

| Mixer configuration | Audio file | Result
| --- | --- | ---
| 16 I/O channels, 44.1 kHz | 44.1 kHz | O.k. (no noise)
| 16 I/O channels, 44.1 kHz | 48 kHz | Playback not possible (Audacity error messag

[2022-03-10 03:43] takaswie commented on #42
Hi @dstra2,

Thanks for the feedback. It's possible that the device has any quirk between packet processing function and audio signal processing function since it generates noise even if packet streaming is successful without any XRUNs.

I'm preparing some tools to diagnose internal state of the device. I'd like you to wait a bit.

Thanks

[2022-03-13 12:03] takaswie commented on #42
Hi @dstra2,

I pushed the tools into hinawa-utils repository:

 * https://github.com/takaswie/hinawa-utils

As a prerequisite, libhinawa 2.0 or later should be installed:

 * https://github.com/alsa-project/libhinawa

In Ubuntu 21.04 or later, deb pfackages (libhinawa2, gir1.2-hinawa-3.0) are available from official repository:

 * https://packages.ubuntu.com/search?suite=all&searchon=names&keywor

[2022-03-14 03:50] takaswie commented on #42
Incidentally, the above script takes longer to finish, several seconds.

[2022-03-17 18:55] dstra2 commented on #42
Hi @takaswie,

Thanks for your assistance.

Here is the output of the two scripts:
- [output_hinawa-bebob-plug-parser.tar.gz](https://github.com/takaswie/snd-firewire-improve/files/8289199/output_hinawa-bebob-plug-parser.tar.gz)
- [output_hinawa-bebob-connection-cli.tar.gz](https://github.com/takaswie/snd-firewire-improve/files/8289203/output_hinawa-bebob-connection-cli.tar.gz)

Kind regards

[2022-03-21 04:49] takaswie commented on #42
Thanks for the files.

According to the records of files, I can not find any issue which might cause the problem. The formation of internal plugs is really standard for BeBoB firmware without any customization by hardware vendor. Additionally I realize that the included information is quite similar to the one from FIREPOWER FCA610.

As the next step, let us investigate packet streaming itself. ALS

[2022-03-21 04:51] takaswie commented on #42
[output_hinawa-bebob-connection-cli.log](https://github.com/takaswie/snd-firewire-improve/files/8313166/output_hinawa-bebob-connection-cli.log)
[output_hinawa-bebob-plug-parser.log](https://github.com/takaswie/snd-firewire-improve/files/8313167/output_hinawa-bebob-plug-parser.log)

[2022-03-22 20:29] dstra2 commented on #42
Hi @takaswie,

I played back a 30 second sine sweep (48kHz) using Audacity.
Here is the output of trace-cmd: [trace.dat.gz](https://github.com/takaswie/snd-firewire-improve/files/8327560/trace.dat.gz)

Kind regards

[2022-03-25 10:15] takaswie commented on #42
Thank you to get the packet dump. I analyze it by the script I wrote in https://github.com/takaswie/snd-firewire-improve/issues/38#issuecomment-917610783. As a result:

[code]

Except for the discontinuities, ALSA bebob driver and x-uf exten]sion card communicates mostly with 48000 PCM frames (precisely events) per second in isochronous cycle for both directions. I can see that the noise does not

[2022-04-10 06:24] takaswie commented on #42
Hi @dstra2 ,

I'm under analyzing the packet dump to identify cause of the issue, however it's not cleared yet...

For my information, would I ask you to retrieve packet dump in 44.1 kHz case?

Thanks for your patience.

[2022-04-14 18:28] dstra2 commented on #42
Hi @takaswie,

I played back a 30 second sine sweep again (using Audacity), this time at 44.1 kHz (both file and mixer samplerate).

You can find the output of
`$ sudo trace-cmd record -e snd_firewire_lib:amdtp_packet`
here: [trace.dat(44.1kHz).gz](https://github.com/takaswie/snd-firewire-improve/files/8491356/trace.dat.44.1kHz.gz)

Please let me know if you need further dumps or if there is the n

[2022-04-17 09:58] takaswie commented on #42
Thanks for the dump file.

In both case, ALSA bebob driver communicates to the device at the same frequency
set in the device. So we should find the other causes.

OK. I'd request test if I found suspicious causes. Thanks for your patience.

[2022-05-03 08:36] recallmenot opened #43 "firewire800 buffer freezes"
Hello,
I'm using a FireFace 800 on manjaro and I have an issue.
When I play back audio for an extended period of time, at a random point between 30 seconds and 3 minutes the audio buffer will freeze and be repeated until 5 to 15 seconds after I stop any playback on the computer. Then I can use the interface again.
What I tried that made no difference:
low latency (preempt) or real time kernel
swit

[2022-05-04 11:49] takaswie commented on #43
Thanks for the report.

Would you please investigate the version of Linux kernel installed in your system for my information?

Regards

[2022-05-04 20:52] recallmenot commented on #43
currently I am on `5.17.1-1-rt16-MANJARO #1 SMP PREEMPT_RT`, latest available Manjaro RT kernel.
I will try 5.4.188 non-RT tomorrow to see whether an old kernel behaves better.
tried increasing pipewire buffer to 4096, no luck.
Very sorry I'm not competent with this. I'll do my best to follow your instructions.
Thank you!

[2022-05-06 08:18] recallmenot commented on #43
Hello Takashi,
I did some testing yesterday but it was confusing, that's why I didn't write.
I am now on `5.17.1-3-MANJARO #1 SMP PREEMPT`at 96kHz and buffer of 256 samples.
Tested kernel 5.4, no buffer freeze but every 3-5 minutes I got what sounds like bitcrushing.
Switched to current 5.17 kernel, no bitcrushing. Switched back to 5.17-RT, buffer freeze is back.
I then found [rtcqs](https://codeb

[2022-05-07 03:34] takaswie commented on #43
I think it better to discourage usage of linux-rt unless being kernel developer or kernel enthusiast. See:

- firewire-ohci fails to initialize Texas Instruments XIO2213A/B/XIO2221 based controller on realtime kernels [5.4.91-rt50, 5.10.8-rt24]
    - https://lore.kernel.org/linux-rt-users/YAwPoaUZ1gTD5y+k@hmbx/

[2022-05-10 07:52] recallmenot commented on #43
ah so I shouldn't use the rt-kernel, well then it's fine.
Thank you for your effort in helping me!
And thank you for creating such wonderful software as snd_firewire!

[2022-06-09 13:59] Unaccounted4 opened #44 "UBSAN: invalid-load in fcp.c load value of 16 is not valid for type '_Bool'"
Ubuntu 20.04 just got the 5.15 (5.15.0-33) Low Latency kernel in the mainline repo and while booting with snd-firewire-improve installed it throws out that line before plymouth comes up during boot.

Here's the complete error from journalctl:

[code]

Sound seems to still work fine out of my Apogee Duet (oxfw) after boot completes, so I'm not sure if I should be worried.

[2022-06-10 02:43] takaswie commented on #44
Hi @Unaccounted4 ,

Thanks for reporting it and sorry for the inconvenience.

I've found the bug March 2022, and posted patch to fixed it.

* ALSA: firewire-lib: fix uninitialized flag for AV/C deferred transaction
   * https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/sound/firewire?id=bf0cd60b7e33

The patch has already been applied to v5.18 kernel. Furthermore it has als

[2022-06-10 02:53] takaswie commented on #44
P.S. as you noted, the bug brings neither disadvantage nor corruption to your system. If you are interested, please refer to the patch comment which includes my thought about the bug.

[2022-06-10 06:03] takaswie commented on #44
Mmm. I did overlook what you report... You reported HEAD of master includes the bug.

Just now I applied the patches and pushed into master. Thanks for your reporting.

[2022-06-10 08:45] Unaccounted4 commented on #44
Can confirm, after pulling latest HEAD and rebuilding dkms it no longer shows the message at boot.

[2022-06-10 08:45] #44 closed

[2022-06-15 15:19] dreamcat4 opened #45 "saffire pro 40 - tries to connect but fails"
hi there,
just plugged this in today. trying to make it work. What I see here is that some status leds flashes on the front panel of the interface, this happens just before the user login screen pops up.

However unforunately there seems to be some sort of communications error. And the device does not appear after logging into desktop session, after loading pipewire etc.

[code]

[2022-06-15 15:26] dreamcat4 commented on #45
ah interesting... maybe it was just the cable. i replace the 2m cable with a shorter one. and power cycle everything. it is now recognized and appearing

however i would like to keep this issue open for the time being. because there might be other issues (for example kernel panic later on, possibly)

[2022-06-16 00:24] takaswie commented on #45
Hi,

Thanks for your reporting it.

I don't mind it, keep opened. Feel free to post your notice when finding any issue.

[2022-06-16 06:24] dreamcat4 commented on #45
this report is a mess sorry. because i am not sure yet what is really the underlying problem exactly.

but in the meantime, here is a more detailed journal / log describing all of my failed activities so far. because i want to move on to try changing other things. so am writing down here in case i forget any important detail of these previous failures / attempts....

initial steps:

1st times (fir

[2022-06-16 07:05] takaswie commented on #45
Hm.

Would you show me the configuration of kernel in your system? You can find it in `/boot/config-xxx`.

I know that Linux driver for 1394 OHCI controller has an issue when running with linux-rt kernel, see:
 * https://lore.kernel.org/linux-rt-users/YAwPoaUZ1gTD5y+k@hmbx/

If your system uses such kind of Linux kernel, the driver probably has such kind of transaction error since bottom-half of d

[2022-06-16 07:39] dreamcat4 commented on #45
https://gist.github.com/dreamcat4/44418151b3b3b87782132ab01fe65c71

[2022-06-16 14:39] dreamcat4 commented on #45
right sorry, got distracted and had to spend half the day away doing other things....

my current problem: (pipewire process locks up fully, when connecting the saffire pro 40). This problem still exists (for me). However I can now say: it is only with this bitwig-studio verison (which is `4.0.1`). And not with other audio programs. And the kernel choice - it does not seem to matter. at least as f

[2022-06-16 14:44] dreamcat4 commented on #45
Next I would like to ask the situation with `ffado-mixer` and `96khz` mode. If it's not supported, that it should not work? Or could it be possible to configure the DSP routing on this device?

Because when I look at the changelog nodes for `libffado`... it does not really seem to mention much recent activity in regards to `saffire pro 40` device. Only it mentioned other saffire models, like the p

[2022-06-16 16:35] dreamcat4 commented on #45
quick update:

* disconnected intel audio outputs in `qpwgraph`
* trying again with bitwig `4.0.1` (jack)... it was possible to connect the output of bitwig to the saffire 0+1 channels (headphone)
* so this bug might be possible to work around (to some extent)
* i could play audio (from audacious source --> bitwig 4.0.1 (jack) --> saffire pro 40 (fw)... it worked for several minutes, it was ok
* t

[2022-06-20 11:33] dreamcat4 commented on #43
@recallmenot could you please let me know which firewire hardware device you were using here? Was it a focusrite product (`snd_dice`) ? Many thanks

[2022-06-20 13:38] recallmenot commented on #43
hi @dreamcat4 as stated in the OP, it's an RME FireFace 800

[2022-06-20 13:42] dreamcat4 commented on #43
Apologies for waking you up for that! Was in a hurry and totally misread the Fireface as "firewire 800" (which is a different thing entirely, the 1394b standard itself). Very sorry. (but thanks for clarifying)

[2022-06-20 14:28] recallmenot commented on #43
didn't wake me, no problem, stuff happens

[2022-08-18 15:16] francoisromain opened #46 "Fireface 802 : does not work with a buffer size of 128 / periods 2"
This is a follow up to this issue : https://github.com/alsa-project/snd-firewire-ctl-services/issues/94

***

The driver works well with the fireface 802 with a buffer size of 256 or 64 and Periods = 2,
but there is an error when the buffer size = 128, and periods = 2.

Here are the error logs:

[code]
This works fine when the buffer size = 128, and periods = 4.

***

Ubuntu: 22.04
kernel: 5.15.0-

[2022-10-14 17:43] AreYouLoco commented on #40
Hi @takaswie I just checked long time on a bit different setup. I tried on desktop computer with better FireWire controller (chipset XIO2213B) and the hang doesnt happen at all. There are some xruns time to time but unnoticable. I think we can close this issue and blame faulty FireWire controller on Thinkpad T420.

[2022-10-14 17:43] #40 closed

[2022-10-15 01:31] takaswie commented on #40
Good to hear it ;)

[2022-10-25 15:43] grinness opened #47 "[snd-dice] latency 13 times higher compared to FFADO (Saffire 14 PRO) with jack2"
Hi,

On a 5900x, 32 GB RAM, Archlinux (kernel 6.0.2), I have been investigating crazy high latency using a pipewire-jack, see:

https://gitlab.freedesktop.org/pipewire/pipewire/-/issues/2790

I ended up testing jack_iodelay with jack2, comparing snd-dice and FFADO

Running qjackctl jack2, ALSA backed (snd-dice) 48000Hz, 1024 samples, 2 periods:

[code]

Running qjackctl jack2, firewire backend (FF

[2022-11-05 20:32] epifanio opened #48 "mic Input no longer avasilable after upgrading to ubuntu 22.10"
My ultralite mk3 was working fine with this driver, the input mic was detected and usable - after upgrading to ubuntu 22.10 the device is still listed in my audio settings - but no signal is arriving from the microphone. I tested wiring connections and hardware settings on windows - all seems to work properly.

Any clue on how to debug the issue?
Thanks!!!

[2022-11-05 23:36] takaswie commented on #48
Hi @epifanio,

I'm sorry for your inconvenience. For my information, would I ask you the previous
version of Ubuntu before upgrading?

Regards

[2022-11-06 13:17] epifanio commented on #48
Hi @takaswie  - I was on on 22.04

[2022-11-07 13:49] takaswie commented on #48
Thanks.

As long as I tested ALSA firewire-motu driver in `linux-modules-extra-5.19.0-23-generic` package (`5.19.0-23.24`), I have no regression between these releases. I think the
change of sound server service from pulseaudio to pipewire brings the apparent
regression to you.

I note that the 1st/2nd channels in PCM frame of capture are for `Stereo Return 1-2 bus`
in vendor's manual, therefore y

[2022-11-07 19:23] epifanio commented on #48
I don't know how to re-configure pipewire - I tried to have a look and got lost - however ... switching back to pulseaudio with:
[code]
gave me back a working mk3 audio input

[2022-11-07 23:20] takaswie commented on #48
Thanks for the trial. The issue seems to be in the way to use sound server, instead of
regression of ALSA firewire-motu driver. Let me close the issue, thank you.

[2022-11-07 23:20] #48 closed

[2022-11-16 08:26] #47 closed, assigned to nobody